<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b7fbfb68-4e75-4770-972a-a7efcd98cec6" Alias="menuCategory" Level="2">
  <Info>
    <Name>Menu Category</Name>
    <Icon>icon-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="f3c91c41-57e4-4ec1-86e9-ff04480b617a">page</Parent>
    <Compositions>
      <Composition Key="f3c91c41-57e4-4ec1-86e9-ff04480b617a">page</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="f441b761-edd9-4359-88a0-a9f2149a7242" SortOrder="0">item</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>f2c97120-1413-4e7f-a99d-eda45016e511</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>abd0e567-0779-4ca7-8972-721eab23c72b</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>11</SortOrder>
    </Tab>
  </Tabs>
</ContentType>