<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="afd7e55c-052c-4c46-b301-5864bb1dbf26" Alias="site" Level="2">
  <Info>
    <Name>Site</Name>
    <Icon>icon-globe-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="f3c91c41-57e4-4ec1-86e9-ff04480b617a">page</Parent>
    <Compositions>
      <Composition Key="f3c91c41-57e4-4ec1-86e9-ff04480b617a">page</Composition>
    </Compositions>
    <DefaultTemplate>Site</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d6819de3-1a58-43be-b68f-5f495c5ec7c1">Site</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="443ef4b0-8204-49ec-8d8e-c1e9507556c8" SortOrder="0">home</ContentType>
    <ContentType Key="0746756d-3d0b-4b8f-9b6f-54b5efb9103c" SortOrder="1">rooms</ContentType>
    <ContentType Key="9e9faf5b-741c-43ad-bd5f-55c06c3e36ca" SortOrder="2">menu</ContentType>
    <ContentType Key="b4ae92c4-7de4-4638-93de-fc972ff8c72d" SortOrder="3">otherTypes</ContentType>
    <ContentType Key="922051fa-68e4-431c-b862-af9385c6bcf5" SortOrder="4">tourTypes</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>fa9e4fcc-8229-4c7e-a94e-9d4a8263d241</Key>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>171f64d3-1125-4cf3-adc5-cb2b30f44572</Key>
      <Name>Navigation</Name>
      <Alias>navigation</Alias>
      <Definition>6238c8bf-ca18-46ea-8995-e45bd8cebd45</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>dcfd4670-18de-4542-970b-c53a5c863dba</Key>
      <Caption>Header</Caption>
      <Alias>header</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>