@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Site>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
Welcome to Villawatina


@if (User.Identity?.IsAuthenticated ?? false)
{
    <form asp-controller="Account" asp-action="Logout" method="post" style="display:inline;">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-link">Logout (@User.Identity.Name)</button>
    </form>
}