<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7e485448-f7be-433b-a8ec-e76b4b45dc29" Alias="Decimal Input" Level="1">
  <Info>
    <Name>Decimal Input</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": 0
}]]></Config>
</DataType>