<?xml version="1.0" encoding="utf-8"?>
<DataType Key="523af094-ae65-45b7-bbd0-6c5b57385859" Alias="Member - User Type - Dropdown" Level="1">
  <Info>
    <Name>Member - User Type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Admin"
    },
    {
      "id": 2,
      "value": "User"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>