<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6238c8bf-ca18-46ea-8995-e45bd8cebd45" Alias="Site - Navigation - Multi URL Picker" Level="1">
  <Info>
    <Name>Site - Navigation - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>