<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ffe1660d-db1f-4111-bf9c-c767d5c87665" Alias="Tour Item - Type - Dropdown" Level="1">
  <Info>
    <Name>Tour Item - Type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Easy"
    },
    {
      "id": 2,
      "value": "Moderate"
    },
    {
      "id": 3,
      "value": "Hard"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>