<?xml version="1.0" encoding="utf-8"?>
<Media Key="256a1e27-99a7-466d-b89b-1de82c38121d" Alias="34698D3956c98ba238415e83a94fe4015ef18c7a" Level="2">
  <Info>
    <Parent Key="8100c65c-79c2-4e36-902f-a04062672c3d">Rooms</Parent>
    <Path>/Rooms/D3956c98ba238415e83a94fe4015ef18c7a</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-08T13:34:37</CreateDate>
    <NodeName Default="34698D3956c98ba238415e83a94fe4015ef18c7a" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/eepgujnh/34698d3956c98ba238415e83a94fe4015ef18c7a.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>