<?xml version="1.0" encoding="utf-8"?>
<Media Key="404b9f92-58c5-4368-962a-548a34b8eee1" Alias="Breakfirst" Level="2">
  <Info>
    <Parent Key="372288bb-dbf1-4a5b-bf6e-17b8bdf6aaec">Menu</Parent>
    <Path>/Menu/Breakfirst</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-12-03T17:20:51</CreateDate>
    <NodeName Default="Breakfirst" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>