<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa73a063-2a27-4ecd-bedc-5660a621f378" Alias="Full English Breakfast Hearty Morning Platter" Level="3">
  <Info>
    <Parent Key="404b9f92-58c5-4368-962a-548a34b8eee1">Breakfirst</Parent>
    <Path>/Menu/Breakfirst/FullEnglishBreakfastHeartyMorningPlatter</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-03T17:20:58</CreateDate>
    <NodeName Default="Full English Breakfast Hearty Morning Platter" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mwqhhkrh/full-english-breakfast-hearty-morning-platter.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>