<?xml version="1.0" encoding="utf-8"?>
<Media Key="372288bb-dbf1-4a5b-bf6e-17b8bdf6aaec" Alias="Menu" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Menu</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-12-03T17:20:40</CreateDate>
    <NodeName Default="Menu" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>