<?xml version="1.0" encoding="utf-8"?>
<Media Key="17554e28-e4fd-44fb-9c86-3923642bc203" Alias="Nilkamal" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Nilkamal</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-09T12:49:40</CreateDate>
    <NodeName Default="Nilkamal" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fzhfkf53/nilkamal.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>