<?xml version="1.0" encoding="utf-8"?>
<Media Key="c00c0774-0ea5-466b-94f8-604c2ab790d2" Alias="Photo 1465103692162 A9bf9c7bd0fc" Level="2">
  <Info>
    <Parent Key="9aea4729-ab2e-4682-8933-d410e8ce007a">Tours</Parent>
    <Path>/Tours/Photo1465103692162A9bf9c7bd0fc</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-09T14:01:45</CreateDate>
    <NodeName Default="Photo 1465103692162 A9bf9c7bd0fc" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/oidbzqff/photo-1465103692162-a9bf9c7bd0fc.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>