<?xml version="1.0" encoding="utf-8"?>
<Media Key="b7cadb01-f2f5-4bf4-8e33-bd89e98ea69f" Alias="Photo 1704797390682 76479A29dc9a" Level="2">
  <Info>
    <Parent Key="9aea4729-ab2e-4682-8933-d410e8ce007a">Tours</Parent>
    <Path>/Tours/Photo170479739068276479A29dc9a</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-09T14:03:50</CreateDate>
    <NodeName Default="Photo 1704797390682 76479A29dc9a" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/a5nnvn5v/photo-1704797390682-76479a29dc9a.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>