<?xml version="1.0" encoding="utf-8"?>
<Media Key="8128b9ed-37e3-45a5-9f91-3f9ca4d54c61" Alias="Photo 1488646953014 85Cb44e25828" Level="2">
  <Info>
    <Parent Key="9aea4729-ab2e-4682-8933-d410e8ce007a">Tours</Parent>
    <Path>/Tours/Photo148864695301485Cb44e25828</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-09T14:41:32</CreateDate>
    <NodeName Default="Photo 1488646953014 85Cb44e25828" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3o2drapd/photo-1488646953014-85cb44e25828.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>