<?xml version="1.0" encoding="utf-8"?>
<Media Key="9aea4729-ab2e-4682-8933-d410e8ce007a" Alias="Tours" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Tours</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-12-09T14:01:33</CreateDate>
    <NodeName Default="Tours" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>