<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff9b69bc-04c7-439d-83f2-9c72afbc1f9d" Alias="Villawatuna PNG" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/VillawatunaPNG</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-28T15:22:57</CreateDate>
    <NodeName Default="Villawatuna PNG" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xjujx54h/villawatuna-png.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>