<?xml version="1.0" encoding="utf-8"?>
<Media Key="e12c2bec-4298-41f1-be82-7f3bd19a056d" Alias="Villawatuna 225 450 JPEG" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Villawatuna225450JPEG</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-26T21:53:56</CreateDate>
    <NodeName Default="Villawatuna 225 450 JPEG" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3ivdzymy/villawatuna-225-450_jpeg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>