<?xml version="1.0" encoding="utf-8"?>
<Media Key="177c7fcf-e999-4b6d-8916-67a437dd18e8" Alias="Villawatuna 225 450 PNG" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Villawatuna225450PNG</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-26T21:53:15</CreateDate>
    <NodeName Default="Villawatuna 225 450 PNG" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zf5hyf2z/villawatuna-225-450_png.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>