<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c276430-b03d-47ea-95e4-d3178f47daa3" Alias="Air Port Drop" Level="3">
  <Info>
    <Parent Key="8c39b916-304c-47f8-8ccf-8572b3b2afb7">Tour Types</Parent>
    <Path>/Site/TourTypes/AirPortDrop</Path>
    <Trashed>false</Trashed>
    <ContentType>item</ContentType>
    <CreateDate>2025-10-15T18:03:06</CreateDate>
    <NodeName Default="Air Port Drop" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <price>
      <Value><![CDATA[150]]></Value>
    </price>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <title>
      <Value><![CDATA[Air Port Drop]]></Value>
    </title>
  </Properties>
</Content>