<?xml version="1.0" encoding="utf-8"?>
<Content Key="88e19f44-1e70-4035-bef7-f3d6a754a287" Alias="Airport Drop" Level="3">
  <Info>
    <Parent Key="8c39b916-304c-47f8-8ccf-8572b3b2afb7">Tour Types</Parent>
    <Path>/Site/TourTypes/AirportDrop</Path>
    <Trashed>false</Trashed>
    <ContentType>tourItem</ContentType>
    <CreateDate>2025-11-20T19:05:17</CreateDate>
    <NodeName Default="Airport Drop" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <price>
      <Value><![CDATA[10]]></Value>
    </price>
    <sEODescription>
      <Value><![CDATA[]]></Value>
    </sEODescription>
    <sEOImage>
      <Value><![CDATA[[]]]></Value>
    </sEOImage>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <title>
      <Value><![CDATA[Airport Drop]]></Value>
    </title>
  </Properties>
</Content>