<?xml version="1.0" encoding="utf-8"?>
<Content Key="ec36f774-f4a2-4f5f-92fd-ce0bda9df776" Alias="Banana Milk Shake" Level="5">
  <Info>
    <Parent Key="9f772204-eb7a-4a01-ac99-3958d47665d5">Milk Shake</Parent>
    <Path>/Site/OurMenu/Beverages/MilkShake/BananaMilkShake</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-26T22:09:20</CreateDate>
    <NodeName Default="Banana Milk Shake" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <noteRequired>
      <Value><![CDATA[0]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[800]]></Value>
    </price>
    <title>
      <Value><![CDATA[Banana Milk Shake]]></Value>
    </title>
  </Properties>
</Content>