<?xml version="1.0" encoding="utf-8"?>
<Content Key="39a98332-0645-4644-adf4-081af3053778" Alias="Beverages" Level="3">
  <Info>
    <Parent Key="68c64598-62f8-4e8a-bd11-efead8d4f23f">Our Menu</Parent>
    <Path>/Site/OurMenu/Beverages</Path>
    <Trashed>false</Trashed>
    <ContentType>menuCategory</ContentType>
    <CreateDate>2025-11-20T17:33:34</CreateDate>
    <NodeName Default="Beverages" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Beverages]]></Value>
    </title>
  </Properties>
</Content>