<?xml version="1.0" encoding="utf-8"?>
<Content Key="3a19f9a6-7e99-40df-8c2d-e3f25d5cf413" Alias="Breakfast" Level="3">
  <Info>
    <Parent Key="68c64598-62f8-4e8a-bd11-efead8d4f23f">Our Menu</Parent>
    <Path>/Site/OurMenu/Breakfast</Path>
    <Trashed>false</Trashed>
    <ContentType>menuCategory</ContentType>
    <CreateDate>2025-10-07T07:38:41</CreateDate>
    <NodeName Default="Breakfast" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <openingHoursText>
      <Value><![CDATA[Available: All day 8:00 AM - 10:00 PM]]></Value>
    </openingHoursText>
    <title>
      <Value><![CDATA[Breakfast]]></Value>
    </title>
  </Properties>
</Content>