<?xml version="1.0" encoding="utf-8"?>
<Content Key="790db80f-42c3-48a3-a336-a634e78fb992" Alias="Budget Room" Level="3">
  <Info>
    <Parent Key="feee6e91-f2c0-47ee-bd62-83984cd5c3bb">Our Rooms</Parent>
    <Path>/Site/OurRooms/BudgetRoom</Path>
    <Trashed>false</Trashed>
    <ContentType>roomCategory</ContentType>
    <CreateDate>2025-11-26T22:01:46</CreateDate>
    <NodeName Default="Budget Room" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <sEODescription>
      <Value><![CDATA[]]></Value>
    </sEODescription>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <title>
      <Value><![CDATA[Budget Room]]></Value>
    </title>
  </Properties>
</Content>