<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5eed197-2227-43b2-acc9-2bf160ea6db4" Alias="Chicken Wings" Level="5">
  <Info>
    <Parent Key="3a7ea36c-bdcc-441c-ae31-884baaabafd2">Chicken</Parent>
    <Path>/Site/OurMenu/Snacks/Chicken/ChickenWings</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-26T22:12:35</CreateDate>
    <NodeName Default="Chicken Wings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <noteRequired>
      <Value><![CDATA[0]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[1200]]></Value>
    </price>
    <title>
      <Value><![CDATA[Chicken Wings]]></Value>
    </title>
  </Properties>
</Content>