<?xml version="1.0" encoding="utf-8"?>
<Content Key="3a7ea36c-bdcc-441c-ae31-884baaabafd2" Alias="Chicken" Level="4">
  <Info>
    <Parent Key="da529c4b-cc8e-4199-bf15-bf67039b2b04">Snacks</Parent>
    <Path>/Site/OurMenu/Snacks/Chicken</Path>
    <Trashed>false</Trashed>
    <ContentType>menuSubcategory</ContentType>
    <CreateDate>2025-11-26T22:03:48</CreateDate>
    <NodeName Default="Chicken" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Chicken]]></Value>
    </title>
  </Properties>
</Content>