<?xml version="1.0" encoding="utf-8"?>
<Content Key="bdf3e9b0-7a29-412d-96e3-49b21cd7e40b" Alias="Chop suey" Level="4">
  <Info>
    <Parent Key="0dde4256-8d75-410b-bc3a-b95ec6cf2994">Starters</Parent>
    <Path>/Site/OurMenu/Starters/ChopSuey</Path>
    <Trashed>false</Trashed>
    <ContentType>menuSubcategory</ContentType>
    <CreateDate>2025-11-26T22:04:40</CreateDate>
    <NodeName Default="Chop suey" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Chop suey]]></Value>
    </title>
  </Properties>
</Content>