<?xml version="1.0" encoding="utf-8"?>
<Content Key="4637c151-9d44-4436-b27c-aef6cb6f0817" Alias="Club Sandwich" Level="5">
  <Info>
    <Parent Key="febb7d45-2422-4927-b1fe-ad9957629fbd">Sandwich</Parent>
    <Path>/Site/OurMenu/Snacks/Sandwich/ClubSandwich</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-26T22:12:25</CreateDate>
    <NodeName Default="Club Sandwich" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <noteRequired>
      <Value><![CDATA[0]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[1200]]></Value>
    </price>
    <title>
      <Value><![CDATA[Club Sandwich]]></Value>
    </title>
  </Properties>
</Content>