<?xml version="1.0" encoding="utf-8"?>
<Content Key="80cd166e-a60f-4a3f-b27a-fd40cf0d5390" Alias="Coca-Cola" Level="5">
  <Info>
    <Parent Key="4f5a06f7-160c-4336-ae72-3ed283b89bd9">Soft Drinks</Parent>
    <Path>/Site/OurMenu/Beverages/SoftDrinks/CocaCola</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-26T22:09:51</CreateDate>
    <NodeName Default="Coca-Cola" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <noteRequired>
      <Value><![CDATA[0]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[300]]></Value>
    </price>
    <title>
      <Value><![CDATA[Coca-Cola]]></Value>
    </title>
  </Properties>
</Content>