<?xml version="1.0" encoding="utf-8"?>
<Content Key="f5a644d7-d76f-461c-b72b-92538be664d7" Alias="Commission" Level="3">
  <Info>
    <Parent Key="241e569d-5904-468f-902d-7238379ec017">Expense Types</Parent>
    <Path>/Site/ExpenseTypes/Commission</Path>
    <Trashed>false</Trashed>
    <ContentType>expenseType</ContentType>
    <CreateDate>2025-10-20T11:56:51</CreateDate>
    <NodeName Default="Commission" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>