<?xml version="1.0" encoding="utf-8"?>
<Content Key="f073c6f5-58fb-48eb-8cc1-b3af99203799" Alias="Commission Payment" Level="3">
  <Info>
    <Parent Key="9e42fe81-0e5d-4333-8884-8aa678404f60">Expense Types</Parent>
    <Path>/Site/ExpenseTypes/CommissionPayment</Path>
    <Trashed>false</Trashed>
    <ContentType>expenseType</ContentType>
    <CreateDate>2025-11-22T16:20:21</CreateDate>
    <NodeName Default="Commission Payment" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>