<?xml version="1.0" encoding="utf-8"?>
<Content Key="0389c342-4b33-4a08-a294-3fce9184a1fd" Alias="Construction Expenses (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ConstructionExpenses1</Path>
    <Trashed Parent="9e42fe81-0e5d-4333-8884-8aa678404f60">true</Trashed>
    <ContentType>expenseType</ContentType>
    <CreateDate>2025-11-22T16:20:33</CreateDate>
    <NodeName Default="Construction Expenses (1)" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>