<?xml version="1.0" encoding="utf-8"?>
<Content Key="594a94c1-2ae2-4215-bfd8-55f8930220b2" Alias="Construction Expenses" Level="3">
  <Info>
    <Parent Key="241e569d-5904-468f-902d-7238379ec017">Expense Types</Parent>
    <Path>/Site/ExpenseTypes/ConstructionExpenses</Path>
    <Trashed>false</Trashed>
    <ContentType>expenseType</ContentType>
    <CreateDate>2025-10-20T11:56:27</CreateDate>
    <NodeName Default="Construction Expenses" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>