<?xml version="1.0" encoding="utf-8"?>
<Content Key="159f4ad4-c6fa-469a-a5e0-701b45c2b7cb" Alias="Currency Types" Level="2">
  <Info>
    <Parent Key="a1ecd327-f713-4a4c-ae15-5b7bee3c57d9">Site</Parent>
    <Path>/Site/CurrencyTypes</Path>
    <Trashed>false</Trashed>
    <ContentType>currencyTypes</ContentType>
    <CreateDate>2025-10-17T11:15:30</CreateDate>
    <NodeName Default="Currency Types" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>