<?xml version="1.0" encoding="utf-8"?>
<Content Key="355ae187-2d20-42c4-a9c3-e5847cbb5c3a" Alias="Cuttlefish" Level="4">
  <Info>
    <Parent Key="25bdcefe-f1cd-4cc2-b493-954a76b27e93">Seafood</Parent>
    <Path>/Site/OurMenu/Seafood/Cuttlefish</Path>
    <Trashed>false</Trashed>
    <ContentType>menuSubcategory</ContentType>
    <CreateDate>2025-11-26T22:06:10</CreateDate>
    <NodeName Default="Cuttlefish" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Cuttlefish]]></Value>
    </title>
  </Properties>
</Content>