<?xml version="1.0" encoding="utf-8"?>
<Content Key="3a265aa8-680a-40c1-817b-8fc6feb10127" Alias="Deluxe Room" Level="3">
  <Info>
    <Parent Key="feee6e91-f2c0-47ee-bd62-83984cd5c3bb">Our Rooms</Parent>
    <Path>/Site/OurRooms/DeluxeRoom</Path>
    <Trashed>false</Trashed>
    <ContentType>roomCategory</ContentType>
    <CreateDate>2025-10-03T08:47:43</CreateDate>
    <NodeName Default="Deluxe Room" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="33c6fb56-a6f7-47f2-be51-c2b4b949884e">Room</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Room 1 Room 1 Room 1]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <title>
      <Value><![CDATA[Deluxe Room]]></Value>
    </title>
  </Properties>
</Content>