<?xml version="1.0" encoding="utf-8"?>
<Content Key="e9f03d0d-f8d4-4002-85d7-793fd30dab13" Alias="Desserts" Level="3">
  <Info>
    <Parent Key="68c64598-62f8-4e8a-bd11-efead8d4f23f">Our Menu</Parent>
    <Path>/Site/OurMenu/Desserts</Path>
    <Trashed>false</Trashed>
    <ContentType>menuCategory</ContentType>
    <CreateDate>2025-11-26T22:06:42</CreateDate>
    <NodeName Default="Desserts" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <openingHoursText>
      <Value><![CDATA[]]></Value>
    </openingHoursText>
    <title>
      <Value><![CDATA[Desserts]]></Value>
    </title>
  </Properties>
</Content>