<?xml version="1.0" encoding="utf-8"?>
<Content Key="e0e418cf-edfc-4d08-b55e-e0350843465c" Alias="Doller" Level="3">
  <Info>
    <Parent Key="159f4ad4-c6fa-469a-a5e0-701b45c2b7cb">Currency Types</Parent>
    <Path>/Site/CurrencyTypes/Doller</Path>
    <Trashed>false</Trashed>
    <ContentType>currency</ContentType>
    <CreateDate>2025-10-17T11:16:05</CreateDate>
    <NodeName Default="Doller" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <currencyCode>
      <Value><![CDATA[USD]]></Value>
    </currencyCode>
    <exchangeRate>
      <Value><![CDATA[300]]></Value>
    </exchangeRate>
  </Properties>
</Content>