<?xml version="1.0" encoding="utf-8"?>
<Content Key="50eedb33-5f2a-4cf6-8245-c23d0bc46c07" Alias="Drinks" Level="3">
  <Info>
    <Parent Key="68c64598-62f8-4e8a-bd11-efead8d4f23f">Our Menu</Parent>
    <Path>/Site/OurMenu/Drinks</Path>
    <Trashed>false</Trashed>
    <ContentType>menuCategory</ContentType>
    <CreateDate>2025-10-07T07:42:46</CreateDate>
    <NodeName Default="Drinks" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>