<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c4d5e52-88fe-4822-b477-e0b98d539d56" Alias="Dry" Level="3">
  <Info>
    <Parent Key="185dde7d-50ec-4d0d-8aa1-93c6d4d82a25">Laundry Service</Parent>
    <Path>/Site/LaundryService/Dry</Path>
    <Trashed>false</Trashed>
    <ContentType>item</ContentType>
    <CreateDate>2025-11-12T11:21:27</CreateDate>
    <NodeName Default="Dry" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <price>
      <Value><![CDATA[3]]></Value>
    </price>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <title>
      <Value><![CDATA[Dry]]></Value>
    </title>
  </Properties>
</Content>