<?xml version="1.0" encoding="utf-8"?>
<Content Key="78c780e9-8674-44f8-8703-7b69d7536046" Alias="Electricity Bill" Level="3">
  <Info>
    <Parent Key="241e569d-5904-468f-902d-7238379ec017">Expense Types</Parent>
    <Path>/Site/ExpenseTypes/ElectricityBill</Path>
    <Trashed>false</Trashed>
    <ContentType>expenseType</ContentType>
    <CreateDate>2025-10-20T11:55:37</CreateDate>
    <NodeName Default="Electricity Bill" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>