<?xml version="1.0" encoding="utf-8"?>
<Content Key="b4facae7-d43b-43e3-9b24-86728c8559a4" Alias="Electricity Bill" Level="3">
  <Info>
    <Parent Key="9e42fe81-0e5d-4333-8884-8aa678404f60">Expense Types</Parent>
    <Path>/Site/ExpenseTypes/ElectricityBill</Path>
    <Trashed>false</Trashed>
    <ContentType>expenseType</ContentType>
    <CreateDate>2025-11-22T16:18:04</CreateDate>
    <NodeName Default="Electricity Bill" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>