<?xml version="1.0" encoding="utf-8"?>
<Content Key="4aaf230d-b8ac-4dc3-b4f0-6f39ae544d55" Alias="English Breakfast" Level="5">
  <Info>
    <Parent Key="e6963783-8bf5-4bb1-a6fb-ad7694dd782b">Western</Parent>
    <Path>/Site/OurMenu/Breakfast/Western/EnglishBreakfast</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-26T22:11:08</CreateDate>
    <NodeName Default="English Breakfast" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "markup": "<h3 class=\"text-[#5c2e3e] mb-3\">What's Included-- from UMB</h3>\n<div class=\"text-gray-700 leading-relaxed\">\n<div class=\"whitespace-pre-line\">Tea | Coffee</div>\n<div class=\"whitespace-pre-line\">\n<p>Eggs (your choice):</p>\n</div>\n<div class=\"whitespace-pre-line\">• Boiled</div>\n<div class=\"whitespace-pre-line\">• Scrambled</div>\n<div class=\"whitespace-pre-line\">• Fried</div>\n<div class=\"whitespace-pre-line\">• Boiled</div>\n<div class=\"whitespace-pre-line\">• Omelet</div>\n<br>\n<div class=\"whitespace-pre-line\"><strong>Served with:</strong></div>\n</div>\n<div class=\"whitespace-pre-line\">• Toasted Bread</div>\n<div class=\"whitespace-pre-line\">• Jam &amp; Butter</div>\n<div class=\"whitespace-pre-line\">• Fruit Juice</div>\n<div class=\"whitespace-pre-line\">• Fruit Salad</div>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </content>
    <description>
      <Value><![CDATA[Test description]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "de76bd31-8814-4953-b850-12cc280abce9",
    "mediaKey": "aa73a063-2a27-4ecd-bedc-5660a621f378"
  }
]]]></Value>
    </mainImage>
    <noteRequired>
      <Value><![CDATA[0]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[2000]]></Value>
    </price>
    <title>
      <Value><![CDATA[English Breakfast]]></Value>
    </title>
  </Properties>
</Content>