<?xml version="1.0" encoding="utf-8"?>
<Content Key="4aaf230d-b8ac-4dc3-b4f0-6f39ae544d55" Alias="English Breakfast" Level="5">
  <Info>
    <Parent Key="e6963783-8bf5-4bb1-a6fb-ad7694dd782b">Western</Parent>
    <Path>/Site/OurMenu/Breakfast/Western/EnglishBreakfast</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-26T22:11:08</CreateDate>
    <NodeName Default="English Breakfast" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <noteRequired>
      <Value><![CDATA[0]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[2000]]></Value>
    </price>
    <title>
      <Value><![CDATA[English Breakfast]]></Value>
    </title>
  </Properties>
</Content>