<?xml version="1.0" encoding="utf-8"?>
<Content Key="4dbe52a5-6f6a-4a31-9650-d2edaf60db73" Alias="English Breakfast" Level="5">
  <Info>
    <Parent Key="c49b2aaa-6e6f-4984-9d57-a8ea2b247eb2">Western</Parent>
    <Path>/Site/OurMenu/Breakfast/Western/EnglishBreakfast</Path>
    <Trashed>false</Trashed>
    <ContentType>item</ContentType>
    <CreateDate>2025-11-20T17:35:57</CreateDate>
    <NodeName Default="English Breakfast" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <price>
      <Value><![CDATA[200]]></Value>
    </price>
    <title>
      <Value><![CDATA[English Breakfast]]></Value>
    </title>
  </Properties>
</Content>