<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8738de0-f882-49b7-80d6-478185e3b971" Alias="EURO" Level="3">
  <Info>
    <Parent Key="159f4ad4-c6fa-469a-a5e0-701b45c2b7cb">Currency Types</Parent>
    <Path>/Site/CurrencyTypes/EURO</Path>
    <Trashed>false</Trashed>
    <ContentType>currency</ContentType>
    <CreateDate>2025-11-22T16:24:44</CreateDate>
    <NodeName Default="EURO" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <currencyCode>
      <Value><![CDATA[EURO]]></Value>
    </currencyCode>
  </Properties>
</Content>