<?xml version="1.0" encoding="utf-8"?>
<Content Key="a14db45c-0274-4e29-a8b3-9e0d6fd5e1d1" Alias="EURO" Level="3">
  <Info>
    <Parent Key="159f4ad4-c6fa-469a-a5e0-701b45c2b7cb">Currency Types</Parent>
    <Path>/Site/CurrencyTypes/EURO</Path>
    <Trashed>false</Trashed>
    <ContentType>currency</ContentType>
    <CreateDate>2025-10-19T19:18:35</CreateDate>
    <NodeName Default="EURO" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <currencyCode>
      <Value><![CDATA[EURO]]></Value>
    </currencyCode>
  </Properties>
</Content>