<?xml version="1.0" encoding="utf-8"?>
<Content Key="9e42fe81-0e5d-4333-8884-8aa678404f60" Alias="Expense Types" Level="2">
  <Info>
    <Parent Key="a1ecd327-f713-4a4c-ae15-5b7bee3c57d9">Site</Parent>
    <Path>/Site/ExpenseTypes</Path>
    <Trashed>false</Trashed>
    <ContentType>expenseTypes</ContentType>
    <CreateDate>2025-11-22T16:16:35</CreateDate>
    <NodeName Default="Expense Types" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>