<?xml version="1.0" encoding="utf-8"?>
<Content Key="241e569d-5904-468f-902d-7238379ec017" Alias="Expense Types" Level="2">
  <Info>
    <Parent Key="a1ecd327-f713-4a4c-ae15-5b7bee3c57d9">Site</Parent>
    <Path>/Site/ExpenseTypes</Path>
    <Trashed>false</Trashed>
    <ContentType>expenseTypes</ContentType>
    <CreateDate>2025-10-20T11:55:17</CreateDate>
    <NodeName Default="Expense Types" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>