<?xml version="1.0" encoding="utf-8"?>
<Content Key="2eeaa800-fefc-4277-853c-93582a37a8b6" Alias="French Fries" Level="4">
  <Info>
    <Parent Key="c206d565-faab-45eb-93ae-57c83e86c0ba">Lunch</Parent>
    <Path>/Site/OurMenu/Lunch/FrenchFries</Path>
    <Trashed>false</Trashed>
    <ContentType>item</ContentType>
    <CreateDate>2025-10-06T14:54:40</CreateDate>
    <NodeName Default="French Fries" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="164d91f4-dc9b-4d0e-ac38-f91527191dfe">MenuItem</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <price>
      <Value><![CDATA[750]]></Value>
    </price>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <title>
      <Value><![CDATA[French Fries]]></Value>
    </title>
  </Properties>
</Content>