<?xml version="1.0" encoding="utf-8"?>
<Content Key="b537c071-74a0-4c3e-88a5-267fb02da89a" Alias="Fresh Juice (2) (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/FreshJuice21</Path>
    <Trashed Parent="39a98332-0645-4644-adf4-081af3053778">true</Trashed>
    <ContentType>menuSubcategory</ContentType>
    <CreateDate>2025-11-21T07:05:06</CreateDate>
    <NodeName Default="Fresh Juice (2) (1)" />
    <SortOrder>11</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Fresh Juice]]></Value>
    </title>
  </Properties>
</Content>