<?xml version="1.0" encoding="utf-8"?>
<Content Key="d518ba66-6d2b-4e85-9789-65076e76f428" Alias="Fresh Juice (6)" Level="4">
  <Info>
    <Parent Key="39a98332-0645-4644-adf4-081af3053778">Beverages</Parent>
    <Path>/Site/OurMenu/Beverages/FreshJuice6</Path>
    <Trashed>false</Trashed>
    <ContentType>menuSubcategory</ContentType>
    <CreateDate>2025-11-20T19:31:30</CreateDate>
    <NodeName Default="Fresh Juice (6)" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Fresh Juice]]></Value>
    </title>
  </Properties>
</Content>