<?xml version="1.0" encoding="utf-8"?>
<Content Key="ad4cd095-53fd-41a4-8e26-e698a7e4489f" Alias="Fresh Juice" Level="4">
  <Info>
    <Parent Key="39a98332-0645-4644-adf4-081af3053778">Beverages</Parent>
    <Path>/Site/OurMenu/Beverages/FreshJuice</Path>
    <Trashed>false</Trashed>
    <ContentType>menuSubcategory</ContentType>
    <CreateDate>2025-11-20T17:34:46</CreateDate>
    <NodeName Default="Fresh Juice" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Fresh Juice]]></Value>
    </title>
  </Properties>
</Content>