<?xml version="1.0" encoding="utf-8"?>
<Content Key="881a3693-2ce1-4dfb-937f-f617107b9410" Alias="Fresh Juice (4)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/FreshJuice4</Path>
    <Trashed Parent="39a98332-0645-4644-adf4-081af3053778">true</Trashed>
    <ContentType>menuSubcategory</ContentType>
    <CreateDate>2025-11-20T19:31:17</CreateDate>
    <NodeName Default="Fresh Juice (4)" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Fresh Juice]]></Value>
    </title>
  </Properties>
</Content>