<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d86131d-f026-45d9-8404-02d61a85824e" Alias="Fresh Juice (7)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/FreshJuice7</Path>
    <Trashed Parent="39a98332-0645-4644-adf4-081af3053778">true</Trashed>
    <ContentType>menuSubcategory</ContentType>
    <CreateDate>2025-11-20T19:31:36</CreateDate>
    <NodeName Default="Fresh Juice (7)" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Fresh Juice]]></Value>
    </title>
  </Properties>
</Content>