<?xml version="1.0" encoding="utf-8"?>
<Content Key="bab2baf1-8faf-4844-b39d-8ea0a60b7ea3" Alias="Fresh Juice (9)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/FreshJuice9</Path>
    <Trashed Parent="39a98332-0645-4644-adf4-081af3053778">true</Trashed>
    <ContentType>menuSubcategory</ContentType>
    <CreateDate>2025-11-20T19:32:02</CreateDate>
    <NodeName Default="Fresh Juice (9)" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Fresh Juice]]></Value>
    </title>
  </Properties>
</Content>