<?xml version="1.0" encoding="utf-8"?>
<Content Key="98cdd394-12fc-447a-a49f-1c6f71f0d9bc" Alias="Fresh Juice (3)" Level="4">
  <Info>
    <Parent Key="39a98332-0645-4644-adf4-081af3053778">Beverages</Parent>
    <Path>/Site/OurMenu/Beverages/FreshJuice3</Path>
    <Trashed>false</Trashed>
    <ContentType>menuSubcategory</ContentType>
    <CreateDate>2025-11-20T19:31:12</CreateDate>
    <NodeName Default="Fresh Juice (3)" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Fresh Juice]]></Value>
    </title>
  </Properties>
</Content>