<?xml version="1.0" encoding="utf-8"?>
<Content Key="a8444112-e0f5-477c-b3ad-3f115a1898f7" Alias="Fresh Juice (8)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/FreshJuice8</Path>
    <Trashed Parent="39a98332-0645-4644-adf4-081af3053778">true</Trashed>
    <ContentType>menuSubcategory</ContentType>
    <CreateDate>2025-11-20T19:31:54</CreateDate>
    <NodeName Default="Fresh Juice (8)" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Fresh Juice]]></Value>
    </title>
  </Properties>
</Content>