<?xml version="1.0" encoding="utf-8"?>
<Content Key="983bf5e6-e8a3-4d26-af80-ec37f4fcd01d" Alias="Fresh Juice" Level="4">
  <Info>
    <Parent Key="c7befec3-e063-4a7a-ba72-640cbe87781a">Beverages</Parent>
    <Path>/Site/OurMenu/Beverages/FreshJuice</Path>
    <Trashed>false</Trashed>
    <ContentType>menuSubcategory</ContentType>
    <CreateDate>2025-11-20T15:25:04</CreateDate>
    <NodeName Default="Fresh Juice" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Fresh Juice]]></Value>
    </title>
  </Properties>
</Content>