<?xml version="1.0" encoding="utf-8"?>
<Content Key="c51d2a2c-e839-45a3-bbc4-56df3d10736f" Alias="Fried Tomato Spaghetti" Level="5">
  <Info>
    <Parent Key="06f27079-b5ed-4454-a151-a4b1c8cb4b83">Spaghetti</Parent>
    <Path>/Site/OurMenu/MainCourse/Spaghetti/FriedTomatoSpaghetti</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-26T22:14:11</CreateDate>
    <NodeName Default="Fried Tomato Spaghetti" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <noteRequired>
      <Value><![CDATA[0]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[1400]]></Value>
    </price>
    <title>
      <Value><![CDATA[Fried Tomato Spaghetti]]></Value>
    </title>
  </Properties>
</Content>