<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d0b85d2-4a7e-4c16-a6fd-dd90e9b794f2" Alias="Fried Rice" Level="4">
  <Info>
    <Parent Key="c206d565-faab-45eb-93ae-57c83e86c0ba">Lunch</Parent>
    <Path>/Site/OurMenu/Lunch/FriedRice</Path>
    <Trashed>false</Trashed>
    <ContentType>item</ContentType>
    <CreateDate>2025-10-06T14:54:13</CreateDate>
    <NodeName Default="Fried Rice" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="164d91f4-dc9b-4d0e-ac38-f91527191dfe">MenuItem</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <price>
      <Value><![CDATA[950]]></Value>
    </price>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <title>
      <Value><![CDATA[Fried Rice]]></Value>
    </title>
  </Properties>
</Content>