<?xml version="1.0" encoding="utf-8"?>
<Content Key="0614d790-2cd0-4bea-8391-b57b9512e138" Alias="Fried Rice" Level="4">
  <Info>
    <Parent Key="180e508d-f386-4799-b551-f616bfe63b59">Main Course</Parent>
    <Path>/Site/OurMenu/MainCourse/FriedRice</Path>
    <Trashed>false</Trashed>
    <ContentType>menuSubcategory</ContentType>
    <CreateDate>2025-11-26T22:05:28</CreateDate>
    <NodeName Default="Fried Rice" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Fried Rice]]></Value>
    </title>
  </Properties>
</Content>