<?xml version="1.0" encoding="utf-8"?>
<Content Key="9c826c0b-14fd-42b7-9041-c63ddd35bd34" Alias="Fruit Desserts" Level="4">
  <Info>
    <Parent Key="e9f03d0d-f8d4-4002-85d7-793fd30dab13">Desserts</Parent>
    <Path>/Site/OurMenu/Desserts/FruitDesserts</Path>
    <Trashed>false</Trashed>
    <ContentType>menuSubcategory</ContentType>
    <CreateDate>2025-11-26T22:06:54</CreateDate>
    <NodeName Default="Fruit Desserts" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Fruit Desserts]]></Value>
    </title>
  </Properties>
</Content>