<?xml version="1.0" encoding="utf-8"?>
<Content Key="32015438-7542-4eb7-aa40-36b59961eb56" Alias="Full" Level="3">
  <Info>
    <Parent Key="baa75b25-0647-4e1e-8a21-8fc24b9783d0">Laundry</Parent>
    <Path>/Site/Laundry/Full</Path>
    <Trashed>false</Trashed>
    <ContentType>laundryItem</ContentType>
    <CreateDate>2025-11-22T16:29:48</CreateDate>
    <NodeName Default="Full" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Wash, Dry and Ironing]]></Value>
    </description>
    <noteRequired>
      <Value><![CDATA[0]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[1500]]></Value>
    </price>
    <title>
      <Value><![CDATA[Full]]></Value>
    </title>
  </Properties>
</Content>