<?xml version="1.0" encoding="utf-8"?>
<Content Key="3a5dd421-b263-4a54-88e4-7b7646dfca1b" Alias="Furniture &amp; Electric Equipment" Level="3">
  <Info>
    <Parent Key="9e42fe81-0e5d-4333-8884-8aa678404f60">Expense Types</Parent>
    <Path>/Site/ExpenseTypes/FurnitureElectricEquipment</Path>
    <Trashed>false</Trashed>
    <ContentType>expenseType</ContentType>
    <CreateDate>2025-11-22T16:20:00</CreateDate>
    <NodeName Default="Furniture &amp; Electric Equipment" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>