<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c43ab81-b32a-417b-9a6e-a23df756e0d0" Alias="Furniture &amp; Electric Equipment" Level="3">
  <Info>
    <Parent Key="241e569d-5904-468f-902d-7238379ec017">Expense Types</Parent>
    <Path>/Site/ExpenseTypes/FurnitureElectricEquipment</Path>
    <Trashed>false</Trashed>
    <ContentType>expenseType</ContentType>
    <CreateDate>2025-10-20T11:56:37</CreateDate>
    <NodeName Default="Furniture &amp; Electric Equipment" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>