<?xml version="1.0" encoding="utf-8"?>
<Content Key="1457efaf-8fb9-467a-aeef-caddd42015f0" Alias="Galle Fort Heritage Tour" Level="3">
  <Info>
    <Parent Key="8c39b916-304c-47f8-8ccf-8572b3b2afb7">Tour Types</Parent>
    <Path>/Site/TourTypes/GalleFortHeritageTour</Path>
    <Trashed>false</Trashed>
    <ContentType>tourItem</ContentType>
    <CreateDate>2025-12-03T12:26:03</CreateDate>
    <NodeName Default="Galle Fort Heritage Tour" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Explore the historic Galle Fort, a UNESCO World Heritage Site with Dutch colonial architecture, museums, and charming streets]]></Value>
    </description>
    <duration>
      <Value><![CDATA[4 hours]]></Value>
    </duration>
    <highlights>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a986b51a47634c46bb790d4a32dd31fe"
      },
      {
        "contentUdi": "umb://element/db24fba69a8a4d6e91313697c8f1a338"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "667c92e0-3d73-413d-b0d6-21043e272f26",
      "item": "Dutch Reformed Church",
      "udi": "umb://element/a986b51a47634c46bb790d4a32dd31fe"
    },
    {
      "contentTypeKey": "667c92e0-3d73-413d-b0d6-21043e272f26",
      "item": "National Maritime Museum",
      "udi": "umb://element/db24fba69a8a4d6e91313697c8f1a338"
    }
  ],
  "settingsData": []
}]]></Value>
    </highlights>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "c1ae75e1-9214-44b1-95ca-86138af1fe0b",
    "mediaKey": "b7cadb01-f2f5-4bf4-8e33-bd89e98ea69f"
  }
]]]></Value>
    </mainImage>
    <noteRequired>
      <Value><![CDATA[0]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[45]]></Value>
    </price>
    <priceTitle>
      <Value><![CDATA[Person]]></Value>
    </priceTitle>
    <sEODescription>
      <Value><![CDATA[]]></Value>
    </sEODescription>
    <sEOImage>
      <Value><![CDATA[[]]]></Value>
    </sEOImage>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <title>
      <Value><![CDATA[Galle Fort Heritage Tour]]></Value>
    </title>
    <type>
      <Value><![CDATA[[
  "Easy"
]]]></Value>
    </type>
    <whatsIncluded>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1375d71221d246bf958eceeae0dc9a48"
      },
      {
        "contentUdi": "umb://element/5ee36c5a2449474e958546fd6031271d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "667c92e0-3d73-413d-b0d6-21043e272f26",
      "item": "Professional guide",
      "udi": "umb://element/1375d71221d246bf958eceeae0dc9a48"
    },
    {
      "contentTypeKey": "667c92e0-3d73-413d-b0d6-21043e272f26",
      "item": "Entrance fees",
      "udi": "umb://element/5ee36c5a2449474e958546fd6031271d"
    }
  ],
  "settingsData": []
}]]></Value>
    </whatsIncluded>
  </Properties>
</Content>