<?xml version="1.0" encoding="utf-8"?>
<Content Key="8a4c6b45-3fc8-41f8-9d74-f39e22f58d2e" Alias="Grilled Seafood Platter" Level="5">
  <Info>
    <Parent Key="aadbb73d-d2af-4f93-a62f-bba12ad852d1">Seafood Platter</Parent>
    <Path>/Site/OurMenu/Seafood/SeafoodPlatter/GrilledSeafoodPlatter</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-26T22:15:25</CreateDate>
    <NodeName Default="Grilled Seafood Platter" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <noteRequired>
      <Value><![CDATA[0]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[5500]]></Value>
    </price>
    <title>
      <Value><![CDATA[Grilled Seafood Platter]]></Value>
    </title>
  </Properties>
</Content>