<?xml version="1.0" encoding="utf-8"?>
<Content Key="f14b95a7-6684-4051-80c7-f9678ee62aba" Alias="Grilled Cuttlefish" Level="5">
  <Info>
    <Parent Key="355ae187-2d20-42c4-a9c3-e5847cbb5c3a">Cuttlefish</Parent>
    <Path>/Site/OurMenu/Seafood/Cuttlefish/GrilledCuttlefish</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-26T22:14:40</CreateDate>
    <NodeName Default="Grilled Cuttlefish" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <noteRequired>
      <Value><![CDATA[0]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[2000]]></Value>
    </price>
    <title>
      <Value><![CDATA[Grilled Cuttlefish]]></Value>
    </title>
  </Properties>
</Content>