<?xml version="1.0" encoding="utf-8"?>
<Content Key="88629479-6882-4ce9-8ae0-ff980ad05894" Alias="Grilled Lobster" Level="5">
  <Info>
    <Parent Key="0e49a563-c84c-4f49-a6dd-1590fdc17f49">Lobster</Parent>
    <Path>/Site/OurMenu/Seafood/Lobster/GrilledLobster</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-26T22:14:56</CreateDate>
    <NodeName Default="Grilled Lobster" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <noteRequired>
      <Value><![CDATA[0]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[20000]]></Value>
    </price>
    <title>
      <Value><![CDATA[Grilled Lobster]]></Value>
    </title>
  </Properties>
</Content>