<?xml version="1.0" encoding="utf-8"?>
<Content Key="e75d926a-1fb5-4dda-ac1a-d1aac3cfc03a" Alias="Grilled Prawn" Level="5">
  <Info>
    <Parent Key="85dfdd34-ab31-46c0-878e-d5e0d7227567">Prawn</Parent>
    <Path>/Site/OurMenu/Seafood/Prawn/GrilledPrawn</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-26T22:14:29</CreateDate>
    <NodeName Default="Grilled Prawn" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <noteRequired>
      <Value><![CDATA[0]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[2000]]></Value>
    </price>
    <title>
      <Value><![CDATA[Grilled Prawn]]></Value>
    </title>
  </Properties>
</Content>