<?xml version="1.0" encoding="utf-8"?>
<Content Key="4b8bc0b1-3fef-40a8-8d74-cf5f781b802f" Alias="Grocery Bill" Level="3">
  <Info>
    <Parent Key="9e42fe81-0e5d-4333-8884-8aa678404f60">Expense Types</Parent>
    <Path>/Site/ExpenseTypes/GroceryBill</Path>
    <Trashed>false</Trashed>
    <ContentType>expenseType</ContentType>
    <CreateDate>2025-11-22T16:19:27</CreateDate>
    <NodeName Default="Grocery Bill" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>