<?xml version="1.0" encoding="utf-8"?>
<Content Key="a51f4263-8459-4e6c-a820-f063130bd8b6" Alias="Home" Level="2">
  <Info>
    <Parent Key="a1ecd327-f713-4a4c-ae15-5b7bee3c57d9">Site</Parent>
    <Path>/Site/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-10-03T08:46:40</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f4179bb4-082c-4694-9dde-e7c57f5e6d07">Home</Template>
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[]]]></Value>
    </bannerImage>
    <description>
      <Value><![CDATA[xxx xx]]></Value>
    </description>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <tileLinks>
      <Value><![CDATA[]]></Value>
    </tileLinks>
    <title>
      <Value><![CDATA[Hotel Booking]]></Value>
    </title>
  </Properties>
</Content>