<?xml version="1.0" encoding="utf-8"?>
<Content Key="4895c13d-3d4d-4708-b720-2665c3740ce5" Alias="Ice Cream" Level="4">
  <Info>
    <Parent Key="e9f03d0d-f8d4-4002-85d7-793fd30dab13">Desserts</Parent>
    <Path>/Site/OurMenu/Desserts/IceCream</Path>
    <Trashed>false</Trashed>
    <ContentType>menuSubcategory</ContentType>
    <CreateDate>2025-11-26T22:06:48</CreateDate>
    <NodeName Default="Ice Cream" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Ice Cream]]></Value>
    </title>
  </Properties>
</Content>