<?xml version="1.0" encoding="utf-8"?>
<Content Key="c5054400-aaa7-4148-9c65-4a3199f5ec95" Alias="Iron" Level="3">
  <Info>
    <Parent Key="185dde7d-50ec-4d0d-8aa1-93c6d4d82a25">Laundry Service</Parent>
    <Path>/Site/LaundryService/Iron</Path>
    <Trashed>false</Trashed>
    <ContentType>item</ContentType>
    <CreateDate>2025-11-12T11:21:49</CreateDate>
    <NodeName Default="Iron" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <price>
      <Value><![CDATA[3]]></Value>
    </price>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <title>
      <Value><![CDATA[Iron]]></Value>
    </title>
  </Properties>
</Content>