<?xml version="1.0" encoding="utf-8"?>
<Content Key="149eca4b-bdc9-44a9-bc22-bff06f0a84fb" Alias="Jam Pancake" Level="5">
  <Info>
    <Parent Key="25c42af6-dc52-4e5f-84ee-0fb599de8606">Pancake</Parent>
    <Path>/Site/OurMenu/Snacks/Pancake/JamPancake</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-26T22:12:02</CreateDate>
    <NodeName Default="Jam Pancake" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <noteRequired>
      <Value><![CDATA[0]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[800]]></Value>
    </price>
    <title>
      <Value><![CDATA[Jam Pancake]]></Value>
    </title>
  </Properties>
</Content>