<?xml version="1.0" encoding="utf-8"?>
<Content Key="f6bd7e60-5efd-4641-ae1c-a4f5d103dcf3" Alias="King Coconut" Level="5">
  <Info>
    <Parent Key="1f7a72b2-411e-4c60-8c0f-f9045ce49056">Other</Parent>
    <Path>/Site/OurMenu/Beverages/Other/KingCoconut</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-26T22:10:29</CreateDate>
    <NodeName Default="King Coconut" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <noteRequired>
      <Value><![CDATA[0]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[300]]></Value>
    </price>
    <title>
      <Value><![CDATA[King Coconut]]></Value>
    </title>
  </Properties>
</Content>