<?xml version="1.0" encoding="utf-8"?>
<Content Key="185dde7d-50ec-4d0d-8aa1-93c6d4d82a25" Alias="Laundry Service" Level="2">
  <Info>
    <Parent Key="a1ecd327-f713-4a4c-ae15-5b7bee3c57d9">Site</Parent>
    <Path>/Site/LaundryService</Path>
    <Trashed>false</Trashed>
    <ContentType>laundry</ContentType>
    <CreateDate>2025-11-12T11:20:13</CreateDate>
    <NodeName Default="Laundry Service" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <title>
      <Value><![CDATA[Laundry Service]]></Value>
    </title>
  </Properties>
</Content>