<?xml version="1.0" encoding="utf-8"?>
<Content Key="baa75b25-0647-4e1e-8a21-8fc24b9783d0" Alias="Laundry" Level="2">
  <Info>
    <Parent Key="a1ecd327-f713-4a4c-ae15-5b7bee3c57d9">Site</Parent>
    <Path>/Site/Laundry</Path>
    <Trashed>false</Trashed>
    <ContentType>laundry</ContentType>
    <CreateDate>2025-11-22T16:26:42</CreateDate>
    <NodeName Default="Laundry" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <title>
      <Value><![CDATA[Laundry]]></Value>
    </title>
  </Properties>
</Content>