<?xml version="1.0" encoding="utf-8"?>
<Content Key="e9a9ecd4-fde8-4513-8b1e-cb46b9eaeb84" Alias="Laundry Service" Level="3">
  <Info>
    <Parent Key="528a023e-fc1f-4a14-9120-4ff170830774">Other Types</Parent>
    <Path>/Site/OtherTypes/LaundryService</Path>
    <Trashed>false</Trashed>
    <ContentType>item</ContentType>
    <CreateDate>2025-10-15T18:00:42</CreateDate>
    <NodeName Default="Laundry Service" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <price>
      <Value><![CDATA[20]]></Value>
    </price>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <title>
      <Value><![CDATA[Laundry Service ]]></Value>
    </title>
  </Properties>
</Content>