<?xml version="1.0" encoding="utf-8"?>
<Content Key="901167a8-e0d6-4987-9f46-d961a5c07dbd" Alias="Lemon" Level="102">
  <Info>
    <Parent Key="d518ba66-6d2b-4e85-9789-65076e76f428">Fresh Juice (6)</Parent>
    <Path>/[-20]/FreshJuice6/Lemon</Path>
    <Trashed Parent="d518ba66-6d2b-4e85-9789-65076e76f428">true</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-20T19:31:30</CreateDate>
    <NodeName Default="Lemon" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <price>
      <Value><![CDATA[33]]></Value>
    </price>
    <title>
      <Value><![CDATA[Lemon]]></Value>
    </title>
  </Properties>
</Content>