<?xml version="1.0" encoding="utf-8"?>
<Content Key="18ccfa5f-4630-4ce0-a91b-5c248c684dda" Alias="Lemon" Level="102">
  <Info>
    <Parent Key="881a3693-2ce1-4dfb-937f-f617107b9410">Fresh Juice (4)</Parent>
    <Path>/[-20]/FreshJuice4/Lemon</Path>
    <Trashed Parent="881a3693-2ce1-4dfb-937f-f617107b9410">true</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-20T19:31:17</CreateDate>
    <NodeName Default="Lemon" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <price>
      <Value><![CDATA[33]]></Value>
    </price>
    <title>
      <Value><![CDATA[Lemon]]></Value>
    </title>
  </Properties>
</Content>