<?xml version="1.0" encoding="utf-8"?>
<Content Key="4fe4a73c-fb66-4b6e-9c1d-4b53c3102a48" Alias="Lemon (7)" Level="5">
  <Info>
    <Parent Key="ad4cd095-53fd-41a4-8e26-e698a7e4489f">Fresh Juice</Parent>
    <Path>/Site/OurMenu/Beverages/FreshJuice/Lemon7</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-21T07:05:42</CreateDate>
    <NodeName Default="Lemon (7)" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <price>
      <Value><![CDATA[33]]></Value>
    </price>
    <title>
      <Value><![CDATA[Lemon]]></Value>
    </title>
  </Properties>
</Content>