<?xml version="1.0" encoding="utf-8"?>
<Content Key="d70796ee-8ea8-4dfb-8127-d6e511576c6a" Alias="Lemon (8)" Level="5">
  <Info>
    <Parent Key="ad4cd095-53fd-41a4-8e26-e698a7e4489f">Fresh Juice</Parent>
    <Path>/Site/OurMenu/Beverages/FreshJuice/Lemon8</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-21T07:05:49</CreateDate>
    <NodeName Default="Lemon (8)" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <price>
      <Value><![CDATA[33]]></Value>
    </price>
    <title>
      <Value><![CDATA[Lemon]]></Value>
    </title>
  </Properties>
</Content>