<?xml version="1.0" encoding="utf-8"?>
<Content Key="2e9d70d3-838c-460d-b60a-3e534b8264e7" Alias="Lemon" Level="5">
  <Info>
    <Parent Key="983bf5e6-e8a3-4d26-af80-ec37f4fcd01d">Fresh Juice</Parent>
    <Path>/Site/OurMenu/Beverages/FreshJuice/Lemon</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-26T22:08:57</CreateDate>
    <NodeName Default="Lemon" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <noteRequired>
      <Value><![CDATA[0]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[600]]></Value>
    </price>
    <title>
      <Value><![CDATA[Lemon]]></Value>
    </title>
  </Properties>
</Content>