<?xml version="1.0" encoding="utf-8"?>
<Content Key="2480e892-481a-45c2-9093-f2087aedaca1" Alias="Lemon" Level="102">
  <Info>
    <Parent Key="a8444112-e0f5-477c-b3ad-3f115a1898f7">Fresh Juice (8)</Parent>
    <Path>/[-20]/FreshJuice8/Lemon</Path>
    <Trashed Parent="a8444112-e0f5-477c-b3ad-3f115a1898f7">true</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-20T19:31:54</CreateDate>
    <NodeName Default="Lemon" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <price>
      <Value><![CDATA[33]]></Value>
    </price>
    <title>
      <Value><![CDATA[Lemon]]></Value>
    </title>
  </Properties>
</Content>