<?xml version="1.0" encoding="utf-8"?>
<Content Key="b172bcf1-f362-4eda-a1bd-13f82b6c2aa8" Alias="Lemon (4)" Level="102">
  <Info>
    <Parent Key="c7d6feb9-4c54-4594-aec6-5b128b671cc2">Fresh Juice (1) (1)</Parent>
    <Path>/[-20]/FreshJuice11/Lemon4</Path>
    <Trashed Parent="c7d6feb9-4c54-4594-aec6-5b128b671cc2">true</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-21T07:04:58</CreateDate>
    <NodeName Default="Lemon (4)" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <price>
      <Value><![CDATA[33]]></Value>
    </price>
    <title>
      <Value><![CDATA[Lemon]]></Value>
    </title>
  </Properties>
</Content>