<?xml version="1.0" encoding="utf-8"?>
<Content Key="599fa92b-21e6-4761-a3fd-b210a6fcd7e4" Alias="Lemon" Level="5">
  <Info>
    <Parent Key="8d86131d-f026-45d9-8404-02d61a85824e">Fresh Juice (7)</Parent>
    <Path>/Site/OurMenu/Beverages/FreshJuice7/Lemon</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-20T19:31:36</CreateDate>
    <NodeName Default="Lemon" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <price>
      <Value><![CDATA[33]]></Value>
    </price>
    <title>
      <Value><![CDATA[Lemon]]></Value>
    </title>
  </Properties>
</Content>