<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ad62860-a13b-4e92-84d2-f6c89c4bb2a7" Alias="Lemon" Level="5">
  <Info>
    <Parent Key="bab2baf1-8faf-4844-b39d-8ea0a60b7ea3">Fresh Juice (9)</Parent>
    <Path>/Site/OurMenu/Beverages/FreshJuice9/Lemon</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-20T19:32:02</CreateDate>
    <NodeName Default="Lemon" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <price>
      <Value><![CDATA[33]]></Value>
    </price>
    <title>
      <Value><![CDATA[Lemon]]></Value>
    </title>
  </Properties>
</Content>