<?xml version="1.0" encoding="utf-8"?>
<Content Key="6af75c16-806e-49e4-89bf-38f56ee6abdb" Alias="Lemon" Level="5">
  <Info>
    <Parent Key="98cdd394-12fc-447a-a49f-1c6f71f0d9bc">Fresh Juice (3)</Parent>
    <Path>/Site/OurMenu/Beverages/FreshJuice3/Lemon</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-20T19:31:12</CreateDate>
    <NodeName Default="Lemon" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <price>
      <Value><![CDATA[33]]></Value>
    </price>
    <title>
      <Value><![CDATA[Lemon]]></Value>
    </title>
  </Properties>
</Content>