<?xml version="1.0" encoding="utf-8"?>
<Content Key="b76f5e82-f1de-4bd3-acec-7e984bb79ca9" Alias="Lemon (3)" Level="102">
  <Info>
    <Parent Key="b537c071-74a0-4c3e-88a5-267fb02da89a">Fresh Juice (2) (1)</Parent>
    <Path>/[-20]/FreshJuice21/Lemon3</Path>
    <Trashed Parent="b537c071-74a0-4c3e-88a5-267fb02da89a">true</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-21T07:05:06</CreateDate>
    <NodeName Default="Lemon (3)" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <price>
      <Value><![CDATA[33]]></Value>
    </price>
    <title>
      <Value><![CDATA[Lemon]]></Value>
    </title>
  </Properties>
</Content>