<?xml version="1.0" encoding="utf-8"?>
<Content Key="6f920e07-f8ba-45c9-91ab-d69546214bd1" Alias="Lemon (2)" Level="5">
  <Info>
    <Parent Key="ad4cd095-53fd-41a4-8e26-e698a7e4489f">Fresh Juice</Parent>
    <Path>/Site/OurMenu/Beverages/FreshJuice/Lemon2</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-21T07:03:54</CreateDate>
    <NodeName Default="Lemon (2)" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <price>
      <Value><![CDATA[33]]></Value>
    </price>
    <title>
      <Value><![CDATA[Lemon]]></Value>
    </title>
  </Properties>
</Content>