<?xml version="1.0" encoding="utf-8"?>
<Content Key="a97457e1-a889-43ee-9c1e-97b8001f4539" Alias="Lemon" Level="102">
  <Info>
    <Parent Key="b0134b29-8c65-43a5-9a29-1fae66da8d73">Fresh Juice (5)</Parent>
    <Path>/[-20]/FreshJuice5/Lemon</Path>
    <Trashed Parent="b0134b29-8c65-43a5-9a29-1fae66da8d73">true</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-20T19:31:24</CreateDate>
    <NodeName Default="Lemon" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <price>
      <Value><![CDATA[33]]></Value>
    </price>
    <title>
      <Value><![CDATA[Lemon]]></Value>
    </title>
  </Properties>
</Content>