<?xml version="1.0" encoding="utf-8"?>
<Content Key="d9504478-0b77-444b-857c-a651605efe85" Alias="Lemon" Level="5">
  <Info>
    <Parent Key="b3b574ad-e887-4b84-8bdc-8eb9e757cb2c">Fresh Juice (2)</Parent>
    <Path>/Site/OurMenu/Beverages/FreshJuice2/Lemon</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-20T19:31:06</CreateDate>
    <NodeName Default="Lemon" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <price>
      <Value><![CDATA[33]]></Value>
    </price>
    <title>
      <Value><![CDATA[Lemon]]></Value>
    </title>
  </Properties>
</Content>