<?xml version="1.0" encoding="utf-8"?>
<Content Key="a2df3e0a-d4b6-4842-88c7-e035ab35db48" Alias="Lemon (6)" Level="5">
  <Info>
    <Parent Key="ad4cd095-53fd-41a4-8e26-e698a7e4489f">Fresh Juice</Parent>
    <Path>/Site/OurMenu/Beverages/FreshJuice/Lemon6</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-21T07:05:37</CreateDate>
    <NodeName Default="Lemon (6)" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <price>
      <Value><![CDATA[33]]></Value>
    </price>
    <title>
      <Value><![CDATA[Lemon]]></Value>
    </title>
  </Properties>
</Content>