<?xml version="1.0" encoding="utf-8"?>
<Content Key="0e49a563-c84c-4f49-a6dd-1590fdc17f49" Alias="Lobster" Level="4">
  <Info>
    <Parent Key="25bdcefe-f1cd-4cc2-b493-954a76b27e93">Seafood</Parent>
    <Path>/Site/OurMenu/Seafood/Lobster</Path>
    <Trashed>false</Trashed>
    <ContentType>menuSubcategory</ContentType>
    <CreateDate>2025-11-26T22:06:16</CreateDate>
    <NodeName Default="Lobster" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Lobster]]></Value>
    </title>
  </Properties>
</Content>