<?xml version="1.0" encoding="utf-8"?>
<Content Key="90045fb0-3e3e-4675-a985-629a84425d9d" Alias="Milk Shake" Level="4">
  <Info>
    <Parent Key="50eedb33-5f2a-4cf6-8245-c23d0bc46c07">Drinks</Parent>
    <Path>/Site/OurMenu/Drinks/MilkShake</Path>
    <Trashed>false</Trashed>
    <ContentType>item</ContentType>
    <CreateDate>2025-10-06T14:56:14</CreateDate>
    <NodeName Default="Milk Shake" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="164d91f4-dc9b-4d0e-ac38-f91527191dfe">MenuItem</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <price>
      <Value><![CDATA[800]]></Value>
    </price>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <title>
      <Value><![CDATA[Milk Shake]]></Value>
    </title>
  </Properties>
</Content>