<?xml version="1.0" encoding="utf-8"?>
<Content Key="110ba7b1-8a01-43ea-b299-77c374a6040e" Alias="Mineral Water" Level="5">
  <Info>
    <Parent Key="1f7a72b2-411e-4c60-8c0f-f9045ce49056">Other</Parent>
    <Path>/Site/OurMenu/Beverages/Other/MineralWater</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-26T22:10:45</CreateDate>
    <NodeName Default="Mineral Water" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <noteRequired>
      <Value><![CDATA[0]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[100]]></Value>
    </price>
    <title>
      <Value><![CDATA[Mineral Water]]></Value>
    </title>
  </Properties>
</Content>