<?xml version="1.0" encoding="utf-8"?>
<Content Key="fdabbf1a-9f41-45e8-9948-462b93e4ffd2" Alias="Mobile Bill" Level="3">
  <Info>
    <Parent Key="241e569d-5904-468f-902d-7238379ec017">Expense Types</Parent>
    <Path>/Site/ExpenseTypes/MobileBill</Path>
    <Trashed>false</Trashed>
    <ContentType>expenseType</ContentType>
    <CreateDate>2025-10-20T11:55:59</CreateDate>
    <NodeName Default="Mobile Bill" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>