<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ba17f7c-f2e1-4114-8882-afb1847a9693" Alias="Noodle" Level="4">
  <Info>
    <Parent Key="180e508d-f386-4799-b551-f616bfe63b59">Main Course</Parent>
    <Path>/Site/OurMenu/MainCourse/Noodle</Path>
    <Trashed>false</Trashed>
    <ContentType>menuSubcategory</ContentType>
    <CreateDate>2025-11-26T22:05:40</CreateDate>
    <NodeName Default="Noodle" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Noodle]]></Value>
    </title>
  </Properties>
</Content>