<?xml version="1.0" encoding="utf-8"?>
<Content Key="d034f333-99ef-4ee0-8731-c569dcf8b34c" Alias="Other" Level="3">
  <Info>
    <Parent Key="9e42fe81-0e5d-4333-8884-8aa678404f60">Expense Types</Parent>
    <Path>/Site/ExpenseTypes/Other</Path>
    <Trashed>false</Trashed>
    <ContentType>expenseType</ContentType>
    <CreateDate>2025-11-22T16:20:58</CreateDate>
    <NodeName Default="Other" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>