<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f7a72b2-411e-4c60-8c0f-f9045ce49056" Alias="Other" Level="4">
  <Info>
    <Parent Key="c7befec3-e063-4a7a-ba72-640cbe87781a">Beverages</Parent>
    <Path>/Site/OurMenu/Beverages/Other</Path>
    <Trashed>false</Trashed>
    <ContentType>menuSubcategory</ContentType>
    <CreateDate>2025-11-26T22:10:18</CreateDate>
    <NodeName Default="Other" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Other]]></Value>
    </title>
  </Properties>
</Content>