<?xml version="1.0" encoding="utf-8"?>
<Content Key="95cd1c33-e64d-4040-ab14-b20862332171" Alias="Other" Level="4">
  <Info>
    <Parent Key="da529c4b-cc8e-4199-bf15-bf67039b2b04">Snacks</Parent>
    <Path>/Site/OurMenu/Snacks/Other</Path>
    <Trashed>false</Trashed>
    <ContentType>menuSubcategory</ContentType>
    <CreateDate>2025-11-26T22:04:23</CreateDate>
    <NodeName Default="Other" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Other]]></Value>
    </title>
  </Properties>
</Content>