<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d034846-1872-4347-ac4f-256a9bf2ac3f" Alias="Other" Level="5">
  <Info>
    <Parent Key="bd3165a1-c99f-4080-bcbd-8cee9ea5c699">Other</Parent>
    <Path>/Site/OurMenu/Other/Other/Other</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-23T22:03:38</CreateDate>
    <NodeName Default="Other" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <noteRequired>
      <Value><![CDATA[1]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[0]]></Value>
    </price>
    <title>
      <Value><![CDATA[Other]]></Value>
    </title>
  </Properties>
</Content>