<?xml version="1.0" encoding="utf-8"?>
<Content Key="4c947a3f-2bd1-42f2-98eb-f01335de7cf4" Alias="Other" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Other</Path>
    <Trashed Parent="c7befec3-e063-4a7a-ba72-640cbe87781a">true</Trashed>
    <ContentType>menuSubcategory</ContentType>
    <CreateDate>2025-11-26T22:02:26</CreateDate>
    <NodeName Default="Other" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Other]]></Value>
    </title>
  </Properties>
</Content>