<?xml version="1.0" encoding="utf-8"?>
<Content Key="528a023e-fc1f-4a14-9120-4ff170830774" Alias="Other Types" Level="2">
  <Info>
    <Parent Key="a1ecd327-f713-4a4c-ae15-5b7bee3c57d9">Site</Parent>
    <Path>/Site/OtherTypes</Path>
    <Trashed>false</Trashed>
    <ContentType>otherTypes</ContentType>
    <CreateDate>2025-10-15T17:59:32</CreateDate>
    <NodeName Default="Other Types" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <title>
      <Value><![CDATA[Other Types]]></Value>
    </title>
  </Properties>
</Content>