<?xml version="1.0" encoding="utf-8"?>
<Content Key="bd3165a1-c99f-4080-bcbd-8cee9ea5c699" Alias="Other" Level="4">
  <Info>
    <Parent Key="bc1810dc-eb88-4dd5-94e9-9a4e846e519b">Other</Parent>
    <Path>/Site/OurMenu/Other/Other</Path>
    <Trashed>false</Trashed>
    <ContentType>menuSubcategory</ContentType>
    <CreateDate>2025-11-23T22:02:54</CreateDate>
    <NodeName Default="Other" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Other]]></Value>
    </title>
  </Properties>
</Content>