<?xml version="1.0" encoding="utf-8"?>
<Content Key="80ac25c9-b923-4a58-9d24-ea9c68f8d61e" Alias="Other" Level="3">
  <Info>
    <Parent Key="8c39b916-304c-47f8-8ccf-8572b3b2afb7">Tour Types</Parent>
    <Path>/Site/TourTypes/Other</Path>
    <Trashed>false</Trashed>
    <ContentType>tourItem</ContentType>
    <CreateDate>2025-11-23T22:48:52</CreateDate>
    <NodeName Default="Other" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <noteRequired>
      <Value><![CDATA[1]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[0]]></Value>
    </price>
    <sEODescription>
      <Value><![CDATA[]]></Value>
    </sEODescription>
    <sEOImage>
      <Value><![CDATA[[]]]></Value>
    </sEOImage>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <title>
      <Value><![CDATA[ Other]]></Value>
    </title>
  </Properties>
</Content>