<?xml version="1.0" encoding="utf-8"?>
<Content Key="2fe5b681-49a8-45e8-b4f3-27c3003c9c73" Alias="Other" Level="3">
  <Info>
    <Parent Key="baa75b25-0647-4e1e-8a21-8fc24b9783d0">Laundry</Parent>
    <Path>/Site/Laundry/Other</Path>
    <Trashed>false</Trashed>
    <ContentType>laundryItem</ContentType>
    <CreateDate>2025-11-23T22:48:34</CreateDate>
    <NodeName Default="Other" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <noteRequired>
      <Value><![CDATA[1]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[0]]></Value>
    </price>
    <title>
      <Value><![CDATA[ Other]]></Value>
    </title>
  </Properties>
</Content>