<?xml version="1.0" encoding="utf-8"?>
<Content Key="feee6e91-f2c0-47ee-bd62-83984cd5c3bb" Alias="Our Rooms" Level="2">
  <Info>
    <Parent Key="a1ecd327-f713-4a4c-ae15-5b7bee3c57d9">Site</Parent>
    <Path>/Site/OurRooms</Path>
    <Trashed>false</Trashed>
    <ContentType>rooms</ContentType>
    <CreateDate>2025-10-03T08:47:22</CreateDate>
    <NodeName Default="Our Rooms" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="237d32d5-bf82-4669-b550-0464ab8797d5">Rooms</Template>
  </Info>
  <Properties>
    <defaultCurrencyForBilling>
      <Value><![CDATA[umb://document/e0e418cfedfc4d08b55ee0350843465c]]></Value>
    </defaultCurrencyForBilling>
    <description>
      <Value><![CDATA[xxxxxxxxxxxx xxxxxxxxxxxx]]></Value>
    </description>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <title>
      <Value><![CDATA[Our Room Categories]]></Value>
    </title>
  </Properties>
</Content>