<?xml version="1.0" encoding="utf-8"?>
<Content Key="68c64598-62f8-4e8a-bd11-efead8d4f23f" Alias="Our Menu" Level="2">
  <Info>
    <Parent Key="a1ecd327-f713-4a4c-ae15-5b7bee3c57d9">Site</Parent>
    <Path>/Site/OurMenu</Path>
    <Trashed>false</Trashed>
    <ContentType>menu</ContentType>
    <CreateDate>2025-10-06T14:53:34</CreateDate>
    <NodeName Default="Our Menu" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bb31134b-7293-4cbd-ac4e-c8734c05aa02">MenuOvervirewPage</Template>
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[]]]></Value>
    </bannerImage>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <serviceCharge>
      <Value><![CDATA[0.1]]></Value>
    </serviceCharge>
    <title>
      <Value><![CDATA[Our Menu]]></Value>
    </title>
  </Properties>
</Content>