<?xml version="1.0" encoding="utf-8"?>
<Content Key="25c42af6-dc52-4e5f-84ee-0fb599de8606" Alias="Pancake" Level="4">
  <Info>
    <Parent Key="da529c4b-cc8e-4199-bf15-bf67039b2b04">Snacks</Parent>
    <Path>/Site/OurMenu/Snacks/Pancake</Path>
    <Trashed>false</Trashed>
    <ContentType>menuSubcategory</ContentType>
    <CreateDate>2025-11-26T22:03:35</CreateDate>
    <NodeName Default="Pancake" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Pancake]]></Value>
    </title>
  </Properties>
</Content>