<?xml version="1.0" encoding="utf-8"?>
<Content Key="b13aa63e-8434-4d93-b453-23845132adc7" Alias="Pancake" Level="5">
  <Info>
    <Parent Key="e6963783-8bf5-4bb1-a6fb-ad7694dd782b">Western</Parent>
    <Path>/Site/OurMenu/Breakfast/Western/Pancake</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-26T22:11:20</CreateDate>
    <NodeName Default="Pancake" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <noteRequired>
      <Value><![CDATA[0]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[1200]]></Value>
    </price>
    <title>
      <Value><![CDATA[Pancake]]></Value>
    </title>
  </Properties>
</Content>