<?xml version="1.0" encoding="utf-8"?>
<Content Key="570f00c5-23b1-469f-9a78-0be4ef7a116c" Alias="Pineapple Pancake" Level="5">
  <Info>
    <Parent Key="25c42af6-dc52-4e5f-84ee-0fb599de8606">Pancake</Parent>
    <Path>/Site/OurMenu/Snacks/Pancake/PineapplePancake</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-26T22:12:13</CreateDate>
    <NodeName Default="Pineapple Pancake" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <noteRequired>
      <Value><![CDATA[0]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[800]]></Value>
    </price>
    <title>
      <Value><![CDATA[Pineapple Pancake]]></Value>
    </title>
  </Properties>
</Content>