<?xml version="1.0" encoding="utf-8"?>
<Content Key="913e5796-975a-4565-b3b6-ea220e9bb5c4" Alias="Porridge" Level="5">
  <Info>
    <Parent Key="e6963783-8bf5-4bb1-a6fb-ad7694dd782b">Western</Parent>
    <Path>/Site/OurMenu/Breakfast/Western/Porridge</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-26T22:11:32</CreateDate>
    <NodeName Default="Porridge" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "markup": "<h3 class=\"text-[#5c2e3e] mb-3\">What's Included</h3>\n<div class=\"text-gray-700 leading-relaxed\">\n<div class=\"whitespace-pre-line mb-4\">Tea | Coffee</div>\n<div class=\"grid grid-cols-1 md:grid-cols-2 gap-6 mb-4\">\n<div class=\"whitespace-pre-line\">Eggs (your choice):</div>\n<div class=\"whitespace-pre-line\">• Boiled</div>\n<div class=\"whitespace-pre-line\">• Scrambled</div>\n<div class=\"whitespace-pre-line\">• Fried</div>\n<div class=\"whitespace-pre-line\">• Omelet</div>\n<div class=\"whitespace-pre-line\"></div>\n<div class=\"whitespace-pre-line\">Served with:</div>\n<div class=\"whitespace-pre-line\">• Toasted Bread</div>\n<div class=\"whitespace-pre-line\">• Jam &amp; Butter</div>\n<div class=\"whitespace-pre-line\">• Fruit Juice</div>\n<div class=\"whitespace-pre-line\">• Fruit Salad</div>\n</div>\n</div>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <noteRequired>
      <Value><![CDATA[0]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[900]]></Value>
    </price>
    <title>
      <Value><![CDATA[Porridge]]></Value>
    </title>
  </Properties>
</Content>