<?xml version="1.0" encoding="utf-8"?>
<Content Key="913e5796-975a-4565-b3b6-ea220e9bb5c4" Alias="Porridge" Level="5">
  <Info>
    <Parent Key="e6963783-8bf5-4bb1-a6fb-ad7694dd782b">Western</Parent>
    <Path>/Site/OurMenu/Breakfast/Western/Porridge</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-26T22:11:32</CreateDate>
    <NodeName Default="Porridge" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <noteRequired>
      <Value><![CDATA[0]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[500]]></Value>
    </price>
    <title>
      <Value><![CDATA[Porridge]]></Value>
    </title>
  </Properties>
</Content>