<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a1e2c00-e3f6-40b7-acac-d73acd24f40c" Alias="Pound" Level="3">
  <Info>
    <Parent Key="159f4ad4-c6fa-469a-a5e0-701b45c2b7cb">Currency Types</Parent>
    <Path>/Site/CurrencyTypes/Pound</Path>
    <Trashed>false</Trashed>
    <ContentType>currency</ContentType>
    <CreateDate>2025-10-17T11:16:11</CreateDate>
    <NodeName Default="Pound" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <currencyCode>
      <Value><![CDATA[GBP]]></Value>
    </currencyCode>
  </Properties>
</Content>