<?xml version="1.0" encoding="utf-8"?>
<Content Key="927541fb-d5d6-4604-bcda-ca00ba32e6bc" Alias="Ruppee" Level="3">
  <Info>
    <Parent Key="159f4ad4-c6fa-469a-a5e0-701b45c2b7cb">Currency Types</Parent>
    <Path>/Site/CurrencyTypes/Ruppee</Path>
    <Trashed>false</Trashed>
    <ContentType>currency</ContentType>
    <CreateDate>2025-10-17T11:15:44</CreateDate>
    <NodeName Default="Ruppee" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <currencyCode>
      <Value><![CDATA[LKR]]></Value>
    </currencyCode>
  </Properties>
</Content>