<?xml version="1.0" encoding="utf-8"?>
<Content Key="1d34005d-499c-4df9-953d-eda08b0a5b88" Alias="Salad" Level="4">
  <Info>
    <Parent Key="0dde4256-8d75-410b-bc3a-b95ec6cf2994">Starters</Parent>
    <Path>/Site/OurMenu/Starters/Salad</Path>
    <Trashed>false</Trashed>
    <ContentType>menuSubcategory</ContentType>
    <CreateDate>2025-11-26T22:04:54</CreateDate>
    <NodeName Default="Salad" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Salad]]></Value>
    </title>
  </Properties>
</Content>