<?xml version="1.0" encoding="utf-8"?>
<Content Key="4473be7a-2b80-4cab-a92f-d9df5c046701" Alias="Salary" Level="3">
  <Info>
    <Parent Key="241e569d-5904-468f-902d-7238379ec017">Expense Types</Parent>
    <Path>/Site/ExpenseTypes/Salary</Path>
    <Trashed>false</Trashed>
    <ContentType>expenseType</ContentType>
    <CreateDate>2025-10-20T11:56:45</CreateDate>
    <NodeName Default="Salary" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>