<?xml version="1.0" encoding="utf-8"?>
<Content Key="febb7d45-2422-4927-b1fe-ad9957629fbd" Alias="Sandwich" Level="4">
  <Info>
    <Parent Key="da529c4b-cc8e-4199-bf15-bf67039b2b04">Snacks</Parent>
    <Path>/Site/OurMenu/Snacks/Sandwich</Path>
    <Trashed>false</Trashed>
    <ContentType>menuSubcategory</ContentType>
    <CreateDate>2025-11-26T22:03:41</CreateDate>
    <NodeName Default="Sandwich" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Sandwich]]></Value>
    </title>
  </Properties>
</Content>