<?xml version="1.0" encoding="utf-8"?>
<Content Key="aadbb73d-d2af-4f93-a62f-bba12ad852d1" Alias="Seafood Platter" Level="4">
  <Info>
    <Parent Key="25bdcefe-f1cd-4cc2-b493-954a76b27e93">Seafood</Parent>
    <Path>/Site/OurMenu/Seafood/SeafoodPlatter</Path>
    <Trashed>false</Trashed>
    <ContentType>menuSubcategory</ContentType>
    <CreateDate>2025-11-26T22:06:22</CreateDate>
    <NodeName Default="Seafood Platter" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Seafood Platter]]></Value>
    </title>
  </Properties>
</Content>