<?xml version="1.0" encoding="utf-8"?>
<Content Key="2e657434-7251-4fbf-a224-924d2ab23fc4" Alias="Sigirya Tour" Level="3">
  <Info>
    <Parent Key="8c39b916-304c-47f8-8ccf-8572b3b2afb7">Tour Types</Parent>
    <Path>/Site/TourTypes/SigiryaTour</Path>
    <Trashed>false</Trashed>
    <ContentType>item</ContentType>
    <CreateDate>2025-10-15T18:03:25</CreateDate>
    <NodeName Default="Sigirya Tour" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <price>
      <Value><![CDATA[1500]]></Value>
    </price>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <title>
      <Value><![CDATA[Sigirya Tour]]></Value>
    </title>
  </Properties>
</Content>