<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1ecd327-f713-4a4c-ae15-5b7bee3c57d9" Alias="Site" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Site</Path>
    <Trashed>false</Trashed>
    <ContentType>site</ContentType>
    <CreateDate>2025-10-03T08:44:39</CreateDate>
    <NodeName Default="Site" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d6819de3-1a58-43be-b68f-5f495c5ec7c1">Site</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[Yaddehimulla, Unawatuna, Galle]]></Value>
    </address>
    <baseCurrency>
      <Value><![CDATA[umb://document/e0e418cfedfc4d08b55ee0350843465c]]></Value>
    </baseCurrency>
    <contactUs_Title>
      <Value><![CDATA[Contact Us]]></Value>
    </contactUs_Title>
    <copyrightText>
      <Value><![CDATA[© 2025 Wilawatuna Hotel. All rights reserved.]]></Value>
    </copyrightText>
    <description>
      <Value><![CDATA[Experience luxury and comfort at Wilawatuna Hotel. Your perfect getaway destination with world-class amenities and exceptional service.]]></Value>
    </description>
    <description_Title>
      <Value><![CDATA[Wilawatuna]]></Value>
    </description_Title>
    <email>
      <Value><![CDATA[info@wilawatuna.com]]></Value>
    </email>
    <links>
      <Value><![CDATA[[
  {
    "udi": "umb://document/a51f426384594e6ca820f063130bd8b6"
  },
  {
    "udi": "umb://document/feee6e91f2c047eebd6283984cd5c3bb"
  },
  {
    "udi": "umb://document/68c6459862f84e8abd11efead8d4f23f"
  }
]]]></Value>
    </links>
    <logo>
      <Value><![CDATA[[
  {
    "key": "58c031f2-3d3e-46ec-810c-eeea10193a80",
    "mediaKey": "839b96c1-865f-48aa-bc1d-4524ef3e2e03"
  }
]]]></Value>
    </logo>
    <navigation>
      <Value><![CDATA[[
  {
    "name": "Home",
    "udi": "umb://document/a51f426384594e6ca820f063130bd8b6"
  },
  {
    "udi": "umb://document/feee6e91f2c047eebd6283984cd5c3bb"
  },
  {
    "udi": "umb://document/68c6459862f84e8abd11efead8d4f23f"
  }
]]]></Value>
    </navigation>
    <navigationLinks>
      <Value><![CDATA[[
  {
    "udi": "umb://document/feee6e91f2c047eebd6283984cd5c3bb"
  },
  {
    "udi": "umb://document/68c6459862f84e8abd11efead8d4f23f"
  }
]]]></Value>
    </navigationLinks>
    <newsletter_description>
      <Value><![CDATA[Subscribe to our newsletter for exclusive offers and updates.]]></Value>
    </newsletter_description>
    <newsletter_Title>
      <Value><![CDATA[Newsletter]]></Value>
    </newsletter_Title>
    <phone>
      <Value><![CDATA[+94 70 695 5500]]></Value>
    </phone>
    <quickLinks_Title>
      <Value><![CDATA[Quick Links]]></Value>
    </quickLinks_Title>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <showLogoOnly>
      <Value><![CDATA[1]]></Value>
    </showLogoOnly>
    <siteName>
      <Value><![CDATA[Vilawatuna Hotel]]></Value>
    </siteName>
    <webSite>
      <Value><![CDATA[www.villawatuna.com]]></Value>
    </webSite>
  </Properties>
</Content>