<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1ecd327-f713-4a4c-ae15-5b7bee3c57d9" Alias="Site" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Site</Path>
    <Trashed>false</Trashed>
    <ContentType>site</ContentType>
    <CreateDate>2025-10-03T08:44:39</CreateDate>
    <NodeName Default="Site" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f4179bb4-082c-4694-9dde-e7c57f5e6d07">Home</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[Yaddehimulla, Unawatuna 80600, Galle]]></Value>
    </address>
    <baseCurrency>
      <Value><![CDATA[umb://document/927541fbd5d64604bcdaca00ba32e6bc]]></Value>
    </baseCurrency>
    <contactUs_Title>
      <Value><![CDATA[]]></Value>
    </contactUs_Title>
    <copyrightText>
      <Value><![CDATA[]]></Value>
    </copyrightText>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <description_Title>
      <Value><![CDATA[VillaWatuna]]></Value>
    </description_Title>
    <email>
      <Value><![CDATA[info@villawatuna.com]]></Value>
    </email>
    <links>
      <Value><![CDATA[]]></Value>
    </links>
    <logo>
      <Value><![CDATA[[
  {
    "key": "5af7591a-423d-4e36-a33d-f9867331a5b6",
    "mediaKey": "177c7fcf-e999-4b6d-8916-67a437dd18e8"
  }
]]]></Value>
    </logo>
    <navigation>
      <Value><![CDATA[]]></Value>
    </navigation>
    <navigationLinks>
      <Value><![CDATA[]]></Value>
    </navigationLinks>
    <newsletter_description>
      <Value><![CDATA[]]></Value>
    </newsletter_description>
    <newsletter_Title>
      <Value><![CDATA[]]></Value>
    </newsletter_Title>
    <phone>
      <Value><![CDATA[+94 70 695 5500]]></Value>
    </phone>
    <quickLinks_Title>
      <Value><![CDATA[]]></Value>
    </quickLinks_Title>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <showLogoOnly>
      <Value><![CDATA[1]]></Value>
    </showLogoOnly>
    <siteName>
      <Value><![CDATA[VillaWatuna]]></Value>
    </siteName>
    <webSite>
      <Value><![CDATA[www.villawatuna.com]]></Value>
    </webSite>
  </Properties>
</Content>