<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f5a06f7-160c-4336-ae72-3ed283b89bd9" Alias="Soft Drinks" Level="4">
  <Info>
    <Parent Key="c7befec3-e063-4a7a-ba72-640cbe87781a">Beverages</Parent>
    <Path>/Site/OurMenu/Beverages/SoftDrinks</Path>
    <Trashed>false</Trashed>
    <ContentType>menuSubcategory</ContentType>
    <CreateDate>2025-11-26T22:02:17</CreateDate>
    <NodeName Default="Soft Drinks" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Soft Drinks]]></Value>
    </title>
  </Properties>
</Content>