<?xml version="1.0" encoding="utf-8"?>
<Content Key="82d1a248-93f7-4aeb-9735-bd31377d63f5" Alias="Soup" Level="4">
  <Info>
    <Parent Key="0dde4256-8d75-410b-bc3a-b95ec6cf2994">Starters</Parent>
    <Path>/Site/OurMenu/Starters/Soup</Path>
    <Trashed>false</Trashed>
    <ContentType>menuSubcategory</ContentType>
    <CreateDate>2025-11-26T22:04:48</CreateDate>
    <NodeName Default="Soup" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Soup]]></Value>
    </title>
  </Properties>
</Content>