<?xml version="1.0" encoding="utf-8"?>
<Content Key="972c6c12-bbf9-46c0-b19b-eeb1e89426f5" Alias="Spa Wellness" Level="3">
  <Info>
    <Parent Key="528a023e-fc1f-4a14-9120-4ff170830774">Other Types</Parent>
    <Path>/Site/OtherTypes/SpaWellness</Path>
    <Trashed>false</Trashed>
    <ContentType>item</ContentType>
    <CreateDate>2025-10-15T18:01:26</CreateDate>
    <NodeName Default="Spa Wellness" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <price>
      <Value><![CDATA[100]]></Value>
    </price>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <title>
      <Value><![CDATA[Spa Wellness]]></Value>
    </title>
  </Properties>
</Content>