<?xml version="1.0" encoding="utf-8"?>
<Content Key="6971f3c9-425b-4bcd-9878-70d81dad6c6b" Alias="Spa and Wellness" Level="3">
  <Info>
    <Parent Key="528a023e-fc1f-4a14-9120-4ff170830774">Other Types</Parent>
    <Path>/Site/OtherTypes/SpaAndWellness</Path>
    <Trashed>false</Trashed>
    <ContentType>item</ContentType>
    <CreateDate>2025-11-20T19:04:09</CreateDate>
    <NodeName Default="Spa and Wellness" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <price>
      <Value><![CDATA[100]]></Value>
    </price>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <title>
      <Value><![CDATA[Spa and Wellness]]></Value>
    </title>
  </Properties>
</Content>