<?xml version="1.0" encoding="utf-8"?>
<Content Key="06f27079-b5ed-4454-a151-a4b1c8cb4b83" Alias="Spaghetti" Level="4">
  <Info>
    <Parent Key="180e508d-f386-4799-b551-f616bfe63b59">Main Course</Parent>
    <Path>/Site/OurMenu/MainCourse/Spaghetti</Path>
    <Trashed>false</Trashed>
    <ContentType>menuSubcategory</ContentType>
    <CreateDate>2025-11-26T22:05:46</CreateDate>
    <NodeName Default="Spaghetti" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Spaghetti]]></Value>
    </title>
  </Properties>
</Content>