<?xml version="1.0" encoding="utf-8"?>
<Content Key="675de143-b732-4278-9228-96da49b3237f" Alias="Spring Rolls" Level="5">
  <Info>
    <Parent Key="95cd1c33-e64d-4040-ab14-b20862332171">Other</Parent>
    <Path>/Site/OurMenu/Snacks/Other/SpringRolls</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-26T22:12:44</CreateDate>
    <NodeName Default="Spring Rolls" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <noteRequired>
      <Value><![CDATA[0]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[800]]></Value>
    </price>
    <title>
      <Value><![CDATA[Spring Rolls]]></Value>
    </title>
  </Properties>
</Content>