<?xml version="1.0" encoding="utf-8"?>
<Content Key="9498172f-0f36-4696-ac7a-30f13b92fa48" Alias="Sri Lankan" Level="4">
  <Info>
    <Parent Key="1b111c0c-4c08-4d8f-a9ef-78eb70e03b6f">Breakfast</Parent>
    <Path>/Site/OurMenu/Breakfast/SriLankan</Path>
    <Trashed>false</Trashed>
    <ContentType>menuSubcategory</ContentType>
    <CreateDate>2025-11-20T17:35:41</CreateDate>
    <NodeName Default="Sri Lankan" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Sri Lankan]]></Value>
    </title>
  </Properties>
</Content>