<?xml version="1.0" encoding="utf-8"?>
<Content Key="4cb140a6-c867-4a1b-bac1-b9262ac4f6ac" Alias="Sri Lankan" Level="4">
  <Info>
    <Parent Key="3a19f9a6-7e99-40df-8c2d-e3f25d5cf413">Breakfast</Parent>
    <Path>/Site/OurMenu/Breakfast/SriLankan</Path>
    <Trashed>false</Trashed>
    <ContentType>menuSubcategory</ContentType>
    <CreateDate>2025-11-26T22:03:01</CreateDate>
    <NodeName Default="Sri Lankan" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Sri Lankan]]></Value>
    </title>
  </Properties>
</Content>