<?xml version="1.0" encoding="utf-8"?>
<Content Key="de79212e-ce81-4380-b1f8-98827d33f650" Alias="Standard Room" Level="3">
  <Info>
    <Parent Key="feee6e91-f2c0-47ee-bd62-83984cd5c3bb">Our Rooms</Parent>
    <Path>/Site/OurRooms/StandardRoom</Path>
    <Trashed>false</Trashed>
    <ContentType>roomCategory</ContentType>
    <CreateDate>2025-11-26T21:59:39</CreateDate>
    <NodeName Default="Standard Room" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <sEODescription>
      <Value><![CDATA[]]></Value>
    </sEODescription>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <title>
      <Value><![CDATA[Standard Room]]></Value>
    </title>
  </Properties>
</Content>