<?xml version="1.0" encoding="utf-8"?>
<Content Key="0dde4256-8d75-410b-bc3a-b95ec6cf2994" Alias="Starters" Level="3">
  <Info>
    <Parent Key="68c64598-62f8-4e8a-bd11-efead8d4f23f">Our Menu</Parent>
    <Path>/Site/OurMenu/Starters</Path>
    <Trashed>false</Trashed>
    <ContentType>menuCategory</ContentType>
    <CreateDate>2025-11-26T22:04:34</CreateDate>
    <NodeName Default="Starters" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <openingHoursText>
      <Value><![CDATA[Available: All day 8:00 AM - 10:00 PM]]></Value>
    </openingHoursText>
    <title>
      <Value><![CDATA[Starters]]></Value>
    </title>
  </Properties>
</Content>