<?xml version="1.0" encoding="utf-8"?>
<Content Key="3706ec1b-6c98-410b-987f-e4004c1ba070" Alias="String Hoppers" Level="5">
  <Info>
    <Parent Key="4cb140a6-c867-4a1b-bac1-b9262ac4f6ac">Sri Lankan</Parent>
    <Path>/Site/OurMenu/Breakfast/SriLankan/StringHoppers</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-26T22:11:45</CreateDate>
    <NodeName Default="String Hoppers" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <noteRequired>
      <Value><![CDATA[0]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[900]]></Value>
    </price>
    <title>
      <Value><![CDATA[String Hoppers]]></Value>
    </title>
  </Properties>
</Content>