<?xml version="1.0" encoding="utf-8"?>
<Content Key="97d8a7a0-13a8-4e02-a8de-3de004486329" Alias="Studio Apartment" Level="3">
  <Info>
    <Parent Key="feee6e91-f2c0-47ee-bd62-83984cd5c3bb">Our Rooms</Parent>
    <Path>/Site/OurRooms/StudioApartment</Path>
    <Trashed>false</Trashed>
    <ContentType>roomCategory</ContentType>
    <CreateDate>2025-11-26T21:59:16</CreateDate>
    <NodeName Default="Studio Apartment" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bedrooms>
      <Value><![CDATA[]]></Value>
    </bedrooms>
    <capacity>
      <Value><![CDATA[1-2 Guestsss]]></Value>
    </capacity>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <facilitiesAmenities>
      <Value><![CDATA[]]></Value>
    </facilitiesAmenities>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <roomAccessories>
      <Value><![CDATA[]]></Value>
    </roomAccessories>
    <sEODescription>
      <Value><![CDATA[]]></Value>
    </sEODescription>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <size>
      <Value><![CDATA[20 m²]]></Value>
    </size>
    <title>
      <Value><![CDATA[Studio Apartment]]></Value>
    </title>
  </Properties>
</Content>