<?xml version="1.0" encoding="utf-8"?>
<Content Key="fac93856-11ca-4671-bc35-182f7cafa274" Alias="Superior Room" Level="3">
  <Info>
    <Parent Key="feee6e91-f2c0-47ee-bd62-83984cd5c3bb">Our Rooms</Parent>
    <Path>/Site/OurRooms/SuperiorRoom</Path>
    <Trashed>false</Trashed>
    <ContentType>roomCategory</ContentType>
    <CreateDate>2025-10-03T08:47:55</CreateDate>
    <NodeName Default="Superior Room" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="33c6fb56-a6f7-47f2-be51-c2b4b949884e">Room</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Room 2 Room 2 Room 2]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <title>
      <Value><![CDATA[Superior Room]]></Value>
    </title>
  </Properties>
</Content>