<?xml version="1.0" encoding="utf-8"?>
<Content Key="fac93856-11ca-4671-bc35-182f7cafa274" Alias="Superior Room" Level="3">
  <Info>
    <Parent Key="feee6e91-f2c0-47ee-bd62-83984cd5c3bb">Our Rooms</Parent>
    <Path>/Site/OurRooms/SuperiorRoom</Path>
    <Trashed>false</Trashed>
    <ContentType>roomCategory</ContentType>
    <CreateDate>2025-10-03T08:47:55</CreateDate>
    <NodeName Default="Superior Room" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="33c6fb56-a6f7-47f2-be51-c2b4b949884e">Room</Template>
  </Info>
  <Properties>
    <bedrooms>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/48bfb7096e9944a0a16ff136c9f6f8a8"
      },
      {
        "contentUdi": "umb://element/a9b59ef6209b4bcc807f1651f5be429b"
      }
    ]
  },
  "contentData": [
    {
      "bed": "King",
      "bedRoomName": "#101",
      "contentTypeKey": "b0498448-6aa2-4a19-b139-d6f615a9e899",
      "udi": "umb://element/48bfb7096e9944a0a16ff136c9f6f8a8"
    },
    {
      "bed": "King",
      "bedRoomName": "#102",
      "contentTypeKey": "b0498448-6aa2-4a19-b139-d6f615a9e899",
      "udi": "umb://element/a9b59ef6209b4bcc807f1651f5be429b"
    }
  ],
  "settingsData": []
}]]></Value>
    </bedrooms>
    <capacity>
      <Value><![CDATA[22]]></Value>
    </capacity>
    <description>
      <Value><![CDATA[Room 2 Room 2 Room 2]]></Value>
    </description>
    <facilitiesAmenities>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1880ef34751043efad439821921849b6"
      },
      {
        "contentUdi": "umb://element/f0845d317f5b4dfba4108dc9d81dfbcd"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b9042585-2707-4862-a46e-59ae73f27514",
      "facilityName": "Hot water",
      "icon": [
        {
          "key": "c3ebf3b7-28c4-4056-8766-ceb649b40877",
          "mediaKey": "17554e28-e4fd-44fb-9c86-3923642bc203"
        }
      ],
      "keyAmenity": "1",
      "udi": "umb://element/1880ef34751043efad439821921849b6"
    },
    {
      "contentTypeKey": "b9042585-2707-4862-a46e-59ae73f27514",
      "facilityName": "Bacony",
      "icon": [],
      "keyAmenity": "0",
      "udi": "umb://element/f0845d317f5b4dfba4108dc9d81dfbcd"
    }
  ],
  "settingsData": []
}]]></Value>
    </facilitiesAmenities>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "793ae7dc-7a94-449d-9e51-17355a6420c0",
    "mediaKey": "9a1ac0e3-6a27-4d34-8341-cc852a520cc0"
  }
]]]></Value>
    </mainImage>
    <roomAccessories>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/588ec301166a4bb4bd188ee74d35959d"
      },
      {
        "contentUdi": "umb://element/9fcecb143678404d8c31a3a5f764e1cd"
      },
      {
        "contentUdi": "umb://element/f49c710df00e442299be67e03d8fd281"
      },
      {
        "contentUdi": "umb://element/d639036c9f2743529523ba513121bf02"
      }
    ]
  },
  "contentData": [
    {
      "accessory": "AC",
      "contentTypeKey": "81a6ace7-11d1-4763-8c27-cc45a604a821",
      "udi": "umb://element/588ec301166a4bb4bd188ee74d35959d"
    },
    {
      "accessory": "TV",
      "contentTypeKey": "81a6ace7-11d1-4763-8c27-cc45a604a821",
      "udi": "umb://element/9fcecb143678404d8c31a3a5f764e1cd"
    },
    {
      "accessory": "Hot water",
      "contentTypeKey": "81a6ace7-11d1-4763-8c27-cc45a604a821",
      "udi": "umb://element/f49c710df00e442299be67e03d8fd281"
    },
    {
      "accessory": "Laundry service",
      "contentTypeKey": "81a6ace7-11d1-4763-8c27-cc45a604a821",
      "udi": "umb://element/d639036c9f2743529523ba513121bf02"
    }
  ],
  "settingsData": []
}]]></Value>
    </roomAccessories>
    <sEODescription>
      <Value><![CDATA[]]></Value>
    </sEODescription>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <size>
      <Value><![CDATA[11]]></Value>
    </size>
    <title>
      <Value><![CDATA[Superior Room]]></Value>
    </title>
  </Properties>
</Content>