<?xml version="1.0" encoding="utf-8"?>
<Content Key="d08c7acf-90ab-4de0-85e6-bb2dacf1c74e" Alias="Telephone Bill" Level="3">
  <Info>
    <Parent Key="9e42fe81-0e5d-4333-8884-8aa678404f60">Expense Types</Parent>
    <Path>/Site/ExpenseTypes/TelephoneBill</Path>
    <Trashed>false</Trashed>
    <ContentType>expenseType</ContentType>
    <CreateDate>2025-11-22T16:19:14</CreateDate>
    <NodeName Default="Telephone Bill" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>