<?xml version="1.0" encoding="utf-8"?>
<Content Key="4e2b1080-bcc9-4b33-a35f-ca9cb6000965" Alias="Tomato Soup" Level="5">
  <Info>
    <Parent Key="82d1a248-93f7-4aeb-9735-bd31377d63f5">Soup</Parent>
    <Path>/Site/OurMenu/Starters/Soup/TomatoSoup</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-26T22:13:08</CreateDate>
    <NodeName Default="Tomato Soup" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <noteRequired>
      <Value><![CDATA[0]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[800]]></Value>
    </price>
    <title>
      <Value><![CDATA[Tomato Soup]]></Value>
    </title>
  </Properties>
</Content>