<?xml version="1.0" encoding="utf-8"?>
<Content Key="ada7223c-ef20-42bd-a613-f2c0871ebb80" Alias="Tomato &amp; Onion Salad" Level="5">
  <Info>
    <Parent Key="1d34005d-499c-4df9-953d-eda08b0a5b88">Salad</Parent>
    <Path>/Site/OurMenu/Starters/Salad/TomatoOnionSalad</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-26T22:13:18</CreateDate>
    <NodeName Default="Tomato &amp; Onion Salad" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <noteRequired>
      <Value><![CDATA[0]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[800]]></Value>
    </price>
    <title>
      <Value><![CDATA[Tomato & Onion Salad]]></Value>
    </title>
  </Properties>
</Content>