<?xml version="1.0" encoding="utf-8"?>
<Content Key="8c39b916-304c-47f8-8ccf-8572b3b2afb7" Alias="Tour Types" Level="2">
  <Info>
    <Parent Key="a1ecd327-f713-4a4c-ae15-5b7bee3c57d9">Site</Parent>
    <Path>/Site/TourTypes</Path>
    <Trashed>false</Trashed>
    <ContentType>tourTypes</ContentType>
    <CreateDate>2025-10-15T18:02:16</CreateDate>
    <NodeName Default="Tour Types" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[]]]></Value>
    </bannerImage>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <title>
      <Value><![CDATA[Tour Types]]></Value>
    </title>
  </Properties>
</Content>