<?xml version="1.0" encoding="utf-8"?>
<Content Key="1db44722-d51a-468a-89e8-2d2020e5e9ff" Alias="Two Bedroom Suite" Level="3">
  <Info>
    <Parent Key="feee6e91-f2c0-47ee-bd62-83984cd5c3bb">Our Rooms</Parent>
    <Path>/Site/OurRooms/TwoBedroomSuite</Path>
    <Trashed>false</Trashed>
    <ContentType>roomCategory</ContentType>
    <CreateDate>2025-11-26T21:59:04</CreateDate>
    <NodeName Default="Two Bedroom Suite" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bedrooms>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6d80da17f9c14472a3cd1348e93cf09b"
      },
      {
        "contentUdi": "umb://element/9bfe2001c3fe4127b3341aa871a796b5"
      }
    ]
  },
  "contentData": [
    {
      "bed": "King",
      "bedRoomName": "R100",
      "contentTypeKey": "b0498448-6aa2-4a19-b139-d6f615a9e899",
      "udi": "umb://element/6d80da17f9c14472a3cd1348e93cf09b"
    },
    {
      "bed": "King",
      "bedRoomName": "R101",
      "contentTypeKey": "b0498448-6aa2-4a19-b139-d6f615a9e899",
      "udi": "umb://element/9bfe2001c3fe4127b3341aa871a796b5"
    }
  ],
  "settingsData": []
}]]></Value>
    </bedrooms>
    <capacity>
      <Value><![CDATA[1-2 Guests]]></Value>
    </capacity>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <facilitiesAmenities>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4f891c12fcb14591bf13ed6546706b2b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b9042585-2707-4862-a46e-59ae73f27514",
      "facilityName": "WiFi",
      "icon": [],
      "keyAmenity": "0",
      "udi": "umb://element/4f891c12fcb14591bf13ed6546706b2b"
    }
  ],
  "settingsData": []
}]]></Value>
    </facilitiesAmenities>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "23c52a3b-b95b-4f74-9978-24ecd8dac86d",
    "mediaKey": "256a1e27-99a7-466d-b89b-1de82c38121d"
  }
]]]></Value>
    </mainImage>
    <roomAccessories>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a9cd8300249f404bb4e4a345d62c0607"
      },
      {
        "contentUdi": "umb://element/54b8dfd5912843d6bf53697268fc68eb"
      }
    ]
  },
  "contentData": [
    {
      "accessory": "Hot Water",
      "contentTypeKey": "81a6ace7-11d1-4763-8c27-cc45a604a821",
      "udi": "umb://element/a9cd8300249f404bb4e4a345d62c0607"
    },
    {
      "accessory": "Air Conditioner",
      "contentTypeKey": "81a6ace7-11d1-4763-8c27-cc45a604a821",
      "udi": "umb://element/54b8dfd5912843d6bf53697268fc68eb"
    }
  ],
  "settingsData": []
}]]></Value>
    </roomAccessories>
    <sEODescription>
      <Value><![CDATA[]]></Value>
    </sEODescription>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <size>
      <Value><![CDATA[22 m²]]></Value>
    </size>
    <title>
      <Value><![CDATA[Two Bedroom Suite]]></Value>
    </title>
  </Properties>
</Content>