<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d5b869f-e7a5-4219-8156-2506bf32d5af" Alias="Vanilla Ice Cream" Level="5">
  <Info>
    <Parent Key="4895c13d-3d4d-4708-b720-2665c3740ce5">Ice Cream</Parent>
    <Path>/Site/OurMenu/Desserts/IceCream/VanillaIceCream</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-26T22:15:41</CreateDate>
    <NodeName Default="Vanilla Ice Cream" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <noteRequired>
      <Value><![CDATA[0]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[600]]></Value>
    </price>
    <title>
      <Value><![CDATA[Vanilla Ice Cream]]></Value>
    </title>
  </Properties>
</Content>