<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ffca9b2-3c53-4651-b54f-49b6f6e84301" Alias="Vegetable Chop Suey" Level="5">
  <Info>
    <Parent Key="bdf3e9b0-7a29-412d-96e3-49b21cd7e40b">Chop suey</Parent>
    <Path>/Site/OurMenu/Starters/ChopSuey/VegetableChopSuey</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-26T22:12:59</CreateDate>
    <NodeName Default="Vegetable Chop Suey" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <noteRequired>
      <Value><![CDATA[0]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[1200]]></Value>
    </price>
    <title>
      <Value><![CDATA[Vegetable Chop Suey]]></Value>
    </title>
  </Properties>
</Content>