<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f460e08-00ad-42b4-9af3-68bb570f15cc" Alias="Vegetable Fried Rice" Level="5">
  <Info>
    <Parent Key="0614d790-2cd0-4bea-8391-b57b9512e138">Fried Rice</Parent>
    <Path>/Site/OurMenu/MainCourse/FriedRice/VegetableFriedRice</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-26T22:13:32</CreateDate>
    <NodeName Default="Vegetable Fried Rice" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <noteRequired>
      <Value><![CDATA[0]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[1500]]></Value>
    </price>
    <title>
      <Value><![CDATA[Vegetable Fried Rice]]></Value>
    </title>
  </Properties>
</Content>