<?xml version="1.0" encoding="utf-8"?>
<Content Key="c766698d-2afe-446f-894a-17f3c94a59c3" Alias="Vegetable Noodles" Level="5">
  <Info>
    <Parent Key="7ba17f7c-f2e1-4114-8882-afb1847a9693">Noodle</Parent>
    <Path>/Site/OurMenu/MainCourse/Noodle/VegetableNoodles</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2025-11-26T22:13:59</CreateDate>
    <NodeName Default="Vegetable Noodles" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <noteRequired>
      <Value><![CDATA[0]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[1200]]></Value>
    </price>
    <title>
      <Value><![CDATA[Vegetable Noodles]]></Value>
    </title>
  </Properties>
</Content>