<?xml version="1.0" encoding="utf-8"?>
<Content Key="7b2b9f3a-c8d7-44fb-b2c0-601f74d0ed0c" Alias="Wash" Level="3">
  <Info>
    <Parent Key="185dde7d-50ec-4d0d-8aa1-93c6d4d82a25">Laundry Service</Parent>
    <Path>/Site/LaundryService/Wash</Path>
    <Trashed>false</Trashed>
    <ContentType>item</ContentType>
    <CreateDate>2025-11-12T11:21:14</CreateDate>
    <NodeName Default="Wash" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <price>
      <Value><![CDATA[10]]></Value>
    </price>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <title>
      <Value><![CDATA[Wash]]></Value>
    </title>
  </Properties>
</Content>