<?xml version="1.0" encoding="utf-8"?>
<Content Key="683187b7-bee7-42ae-bebe-18e3fad4780a" Alias="Wash" Level="3">
  <Info>
    <Parent Key="185dde7d-50ec-4d0d-8aa1-93c6d4d82a25">Laundry Service</Parent>
    <Path>/Site/LaundryService/Wash</Path>
    <Trashed>false</Trashed>
    <ContentType>laundryItem</ContentType>
    <CreateDate>2025-11-20T19:08:12</CreateDate>
    <NodeName Default="Wash" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <price>
      <Value><![CDATA[22]]></Value>
    </price>
    <title>
      <Value><![CDATA[Wash]]></Value>
    </title>
  </Properties>
</Content>