<?xml version="1.0" encoding="utf-8"?>
<Content Key="8a82e17b-1c55-446f-9132-b15d451081a8" Alias="Wash &amp; Dry" Level="3">
  <Info>
    <Parent Key="baa75b25-0647-4e1e-8a21-8fc24b9783d0">Laundry</Parent>
    <Path>/Site/Laundry/WashDry</Path>
    <Trashed>false</Trashed>
    <ContentType>laundryItem</ContentType>
    <CreateDate>2025-11-22T16:28:14</CreateDate>
    <NodeName Default="Wash &amp; Dry" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <noteRequired>
      <Value><![CDATA[0]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[1000]]></Value>
    </price>
    <title>
      <Value><![CDATA[Wash & Dry]]></Value>
    </title>
  </Properties>
</Content>