<?xml version="1.0" encoding="utf-8"?>
<Content Key="572d7066-2b18-4aa7-8304-5a9005dce4aa" Alias="Water Bill" Level="3">
  <Info>
    <Parent Key="241e569d-5904-468f-902d-7238379ec017">Expense Types</Parent>
    <Path>/Site/ExpenseTypes/WaterBill</Path>
    <Trashed>false</Trashed>
    <ContentType>expenseType</ContentType>
    <CreateDate>2025-10-20T11:55:46</CreateDate>
    <NodeName Default="Water Bill" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>