<?xml version="1.0" encoding="utf-8"?>
<Content Key="d0951a95-b4de-4d4c-9459-bc798033c3d3" Alias="Water Bottles" Level="3">
  <Info>
    <Parent Key="241e569d-5904-468f-902d-7238379ec017">Expense Types</Parent>
    <Path>/Site/ExpenseTypes/WaterBottles</Path>
    <Trashed>false</Trashed>
    <ContentType>expenseType</ContentType>
    <CreateDate>2025-10-20T11:56:10</CreateDate>
    <NodeName Default="Water Bottles" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>