<?xml version="1.0" encoding="utf-8"?>
<Content Key="c49b2aaa-6e6f-4984-9d57-a8ea2b247eb2" Alias="Western" Level="4">
  <Info>
    <Parent Key="1b111c0c-4c08-4d8f-a9ef-78eb70e03b6f">Breakfast</Parent>
    <Path>/Site/OurMenu/Breakfast/Western</Path>
    <Trashed>false</Trashed>
    <ContentType>menuSubcategory</ContentType>
    <CreateDate>2025-11-20T17:35:14</CreateDate>
    <NodeName Default="Western" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Western]]></Value>
    </title>
  </Properties>
</Content>