<?xml version="1.0" encoding="utf-8"?>
<Content Key="abd7888e-3ac2-4481-8cf4-7d53c32b5862" Alias="Whale Watching Adventure" Level="3">
  <Info>
    <Parent Key="8c39b916-304c-47f8-8ccf-8572b3b2afb7">Tour Types</Parent>
    <Path>/Site/TourTypes/WhaleWatchingAdventure</Path>
    <Trashed>false</Trashed>
    <ContentType>tourItem</ContentType>
    <CreateDate>2025-12-03T12:25:18</CreateDate>
    <NodeName Default="Whale Watching Adventure" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Witness majestic blue whales and playful dolphins in their natural habitat off the coast of Mirissa]]></Value>
    </description>
    <difficultylevel>
      <Value><![CDATA[[
  "Hard"
]]]></Value>
    </difficultylevel>
    <duration>
      <Value><![CDATA[6 hours]]></Value>
    </duration>
    <highlights>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fdb7172c3d374bbd9200ac7e7821ff95"
      },
      {
        "contentUdi": "umb://element/18b0568dc06a450f97570ba83f335b55"
      },
      {
        "contentUdi": "umb://element/97f78b4e46304ae99e3ccf45f7a40ca0"
      },
      {
        "contentUdi": "umb://element/152d7bc10eeb43dc84a0a23183f57617"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "667c92e0-3d73-413d-b0d6-21043e272f26",
      "item": "Blue whale sightings",
      "udi": "umb://element/fdb7172c3d374bbd9200ac7e7821ff95"
    },
    {
      "contentTypeKey": "667c92e0-3d73-413d-b0d6-21043e272f26",
      "item": "Ocean wildlife photography",
      "udi": "umb://element/18b0568dc06a450f97570ba83f335b55"
    },
    {
      "contentTypeKey": "667c92e0-3d73-413d-b0d6-21043e272f26",
      "item": "Dolphin pods",
      "udi": "umb://element/97f78b4e46304ae99e3ccf45f7a40ca0"
    },
    {
      "contentTypeKey": "667c92e0-3d73-413d-b0d6-21043e272f26",
      "item": "Marine expert commentary",
      "udi": "umb://element/152d7bc10eeb43dc84a0a23183f57617"
    }
  ],
  "settingsData": []
}]]></Value>
    </highlights>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "753020c5-2be9-487b-9142-99bfd9ff70cd",
    "mediaKey": "c00c0774-0ea5-466b-94f8-604c2ab790d2"
  }
]]]></Value>
    </mainImage>
    <noteRequired>
      <Value><![CDATA[0]]></Value>
    </noteRequired>
    <price>
      <Value><![CDATA[85]]></Value>
    </price>
    <priceTitle>
      <Value><![CDATA[Team]]></Value>
    </priceTitle>
    <sEODescription>
      <Value><![CDATA[]]></Value>
    </sEODescription>
    <sEOImage>
      <Value><![CDATA[[]]]></Value>
    </sEOImage>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <title>
      <Value><![CDATA[Whale Watching Adventure]]></Value>
    </title>
    <whatsIncluded>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7bf0b8ff387540b1810f9a4a944c293c"
      },
      {
        "contentUdi": "umb://element/d692aa8fce13478f9f8d4d53b183e286"
      },
      {
        "contentUdi": "umb://element/b8e9aa6e15134e0fa1586fe78599d8a1"
      },
      {
        "contentUdi": "umb://element/edc4af5a60b74fc8834cad07d833ded1"
      },
      {
        "contentUdi": "umb://element/f0437948985847ab8ebee79783392d33"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "667c92e0-3d73-413d-b0d6-21043e272f26",
      "item": "Boat tour",
      "udi": "umb://element/7bf0b8ff387540b1810f9a4a944c293c"
    },
    {
      "contentTypeKey": "667c92e0-3d73-413d-b0d6-21043e272f26",
      "item": "Breakfast on board",
      "udi": "umb://element/d692aa8fce13478f9f8d4d53b183e286"
    },
    {
      "contentTypeKey": "667c92e0-3d73-413d-b0d6-21043e272f26",
      "item": "Professional guide",
      "udi": "umb://element/b8e9aa6e15134e0fa1586fe78599d8a1"
    },
    {
      "contentTypeKey": "667c92e0-3d73-413d-b0d6-21043e272f26",
      "item": "Hotel pickup & drop-off",
      "udi": "umb://element/edc4af5a60b74fc8834cad07d833ded1"
    },
    {
      "contentTypeKey": "667c92e0-3d73-413d-b0d6-21043e272f26",
      "item": "Safety equipment",
      "udi": "umb://element/f0437948985847ab8ebee79783392d33"
    }
  ],
  "settingsData": []
}]]></Value>
    </whatsIncluded>
  </Properties>
</Content>