<?xml version="1.0" encoding="utf-8"?>
<Content Key="effb152f-68aa-48b1-8d2d-69de1817b53c" Alias="Whole Fish" Level="4">
  <Info>
    <Parent Key="25bdcefe-f1cd-4cc2-b493-954a76b27e93">Seafood</Parent>
    <Path>/Site/OurMenu/Seafood/WholeFish</Path>
    <Trashed>false</Trashed>
    <ContentType>menuSubcategory</ContentType>
    <CreateDate>2025-11-26T22:06:28</CreateDate>
    <NodeName Default="Whole Fish" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Whole Fish]]></Value>
    </title>
  </Properties>
</Content>